$inner_width: 1100px;
$gray01: #2e2e2e;
$gray02: #686868;
$gray03: #989898;
$gray04: #4c4c4c;
$gray05: #666666;
$gray06: #818181;
$blue01: #24aab2;
$blue02: #41c1d3;
$blue03: #3d82f7;
$blue04: #00a6b2;
$blue05: #5094cf;
$font_family: 'Nanum Gothic';
$font_size: 13px;
$line_height: 20px;
@mixin displayflex($direction, $align, $justify, $wrap) {
    display: flex;
    flex-wrap: $wrap;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

@mixin inputText {
    height: 35px;
    line-height: 30px;
    border: 1px solid #cccccc;
    padding: 0 10px;
    color: $gray02;
    background-color: #ffffff;
    outline: none;
    vertical-align: middle;
}

@mixin textarea($height) {
    width: 100%;
    height: $height;
    border: 1px solid #cccccc;
    padding: 0 10px;
    color: $gray02;
    background-color: #ffffff;
    outline: none;
    padding: 10px;
    vertical-align: middle;
}

@mixin tblView {
    border-top: 1px solid #999999;
    td {
        border-bottom: 1px solid #e5e5e5;
        text-align: left;
        height: 60px;
        input[type=number],
        input[type=file],
        input[type=password],
        input[type=text] {
            @include inputText;
        }
        label {
            display: inline-block;
            margin: 5px 20px 5px 0;
            line-height: 27px;
        }
        textarea {
            @include textarea(120px);
        }
        select {
            @include inputText;
        }
        .zip-code {
            @include displayflex(inherit, center, flex-start, wrap);
            flex-wrap: wrap;
            width: 670px;
            >input[type=text] {
                margin-right: 5px;
                &:nth-child(3),
                &:nth-child(4) {
                    margin-top: 5px;
                }
            }
        }
        .btn_check {
            @include btn(auto, 35px, 0 10px, 12px, normal);
            @include btnBg(1px, $gray05, $gray01, #fff);
            min-width: 85px;
        }
    }
    th {
        @extend td;
        background-color: #f7f7f7;
    }
}

@mixin btn($width, $height, $padding, $fontSize, $fontWeight) {
    width: $width;
    height: $height;
    line-height: $height - 1px;
    padding: $padding;
    font-size: $fontSize;
    font-weight: $fontWeight;
    text-align: center;
    vertical-align: middle;
}

@mixin btnBg($borderWidth, $BorderColor, $Color, $backgroundColor) {
    border-style: solid;
    border-width: $borderWidth;
    border-color: $BorderColor;
    color: $Color;
    background-color: $backgroundColor;
}