body {
    color: $gray01;
    line-height: normal;
    font: {
        size: $font_size;
        family: $font_family;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $font_family;
    outline: none;
}

*::before,
*::after {
    font-family: 'icomoon';
}

a,
button {
    text-decoration: none;
    cursor: pointer;
}

ul,
ol,
dl {
    list-style: none;
}

img {
    border: 0;
    vercital-align: middle;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

input[type=checkbox] {
    -webkit-appearance: none;
    height: 25px;
    width: 25px;
    background-color: #eee;
    cursor: pointer;
    position: relative;
    vertical-align: middle;
    border: 1px solid #ccc;
    border-radius: 1px;
}

input[type=checkbox]:hover {
    background-color: #ccc;
}

input[type=checkbox]:checked {
    background-color: $blue03;
    border: 0;
}

input[type=checkbox]:checked:after {
    content: '';
    position: absolute;
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

input[type=radio] {
    -webkit-appearance: none;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    vertical-align: middle;
    border: 1px solid #ccc;
}

input[type=radio]:hover {
    background-color: #ccc;
}

input[type=radio]:checked {
    background-color: $blue03;
    border: 0;
}

input[type=radio]:checked:after {
    content: '';
    position: absolute;
    left: 9px;
    top: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
}

footer {
    margin-top: auto;
    .information {
        width: 100%;
        height: 230px;
        background-color: #f5f5f5;
        border-top: 1px solid #e0e0e0;
        @include displayflex(row, center, center, wrap);
        >dl {
            width: 220px;
            height: 140px;
            border-left: 1px solid #e0e0e0;
            padding-left: 20px;
            &:first-child {
                border-left: 0;
                padding-left: 0;
            }
            >dt {
                font-size: 17px;
                color: #2e2e2e;
                margin-bottom: 15px;
            }
            >dd {
                color: $gray02;
                font-size: $font_size;
                line-height: $line_height;
                &.tel {
                    font-size: 27px;
                    color: #24aab2;
                    margin-bottom: 10px;
                }
                >a {
                    color: $gray02;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .copyright {
        @include displayflex(column, center, center, wrap);
        height: 184px;
        background-color: #363636;
        >address {
            width: $inner_width;
            color: #818181;
            margin-bottom: 20px;
            font-style: normal;
            font-size: 11px;
        }
        >div {
            width: $inner_width;
            background-color: #2a2a2a;
            padding: 10px;
            color: #818181;
            font-size: 11px;
        }
    }
}

header {
    @include displayflex(column, center, center, unset);
    >.topNav {
        @include displayflex(row, center, center, unset);
        background-color: #f0f0f0;
        width: 100%;
        height: 35px;
        >ul {
            @include displayflex(row, center, flex-end, wrap);
            width: $inner_width;
            >li {
                @include displayflex(inherit, center, flex-start, wrap);
                color: $gray02;
                padding-left: 10px;
                &::before {
                    content: '';
                    width: 1px;
                    height: 10px;
                    background-color: $gray02;
                    margin-right: 10px;
                }
                &:first-child {
                    padding-left: 0;
                    &::before {
                        display: none;
                    }
                }
                >a {
                    color: $gray02;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    >.gnb {
        @include displayflex(row, center, center, wrap);
        width: 100%;
        height: 52px;
        background-color: $blue02;
        >nav {
            @include displayflex(row, center, flex-start, wrap);
            width: $inner_width;
            position: relative;
            >button {
                height: 52px;
                padding: 0 20px;
                border: 0;
                background-color: transparent;
                color: #fff;
                font-size: 15px;
                font-weight: bold;
                background-color: $blue01;
                position: relative;
                text-align: left;
                &[data-gnb-btn^="category"] {
                    width: 150px;
                    &::after {
                        content: "\e9bd";
                        font-size: 16px;
                        font-weight: 100;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 20px;
                    }
                }
                &[data-gnb-btn^="brand"] {
                    width: 140px;
                    &::before {
                        content: '';
                        width: 1px;
                        height: 52px;
                        background-color: #6bccda;
                        margin-right: 50px;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                    &::after {
                        font-family: 'icomoon';
                        content: "\ea36";
                        font-size: 16px;
                        font-weight: 100;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 20px;
                    }
                }
            }
            >ol {
                @include displayflex(row, center, flex-end, wrap);
                width: calc(100% - 290px);
                >li {
                    width: auto;
                    padding-right: 0;
                    padding-left: 40px;
                    &::before {
                        content: '';
                        width: 1px;
                        height: 15px;
                        background-color: #6bccda;
                        margin-right: 40px;
                        display: inline-block;
                    }
                    >a {
                        color: #fff;
                        font-size: 15px;
                        font-weight: bold;
                    }
                    &:first-child::before {
                        display: none;
                    }
                    &:last-child {
                        padding-right: 30px;
                    }
                }
            }
            >[data-gnb-list^="category"] {
                @include displayflex(row, flex-start, flex-start, wrap);
                display: none;
                position: absolute;
                top: 52px;
                left: 0;
                width: 100%;
                background-color: #fff;
                border: 2px solid $blue01;
                padding: 20px;
                z-index: 2;
                >li {
                    width: 20%;
                    padding: 20px;
                    >h3 {
                        padding-bottom: 10px;
                        margin-bottom: 10px;
                        border-bottom: 1px solid $blue01;
                        >a {
                            color: $blue01;
                        }
                    }
                    >ul {
                        >li {
                            margin-top: 10px;
                            >a {
                                color: $gray04;
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                            &:first-child {
                                margin-top: 0;
                            }
                        }
                    }
                }
            }
            >[data-gnb-list^="brand"] {
                @include displayflex(column, flex-start, flex-start, wrap);
                position: absolute;
                display: none;
                top: 52px;
                left: 0;
                width: 100%;
                background-color: #fff;
                border: 2px solid $blue01;
                padding: 20px;
                z-index: 2;
                >.tab {
                    @include displayflex(row, center, center, wrap);
                    width: 100%;
                    margin-bottom: 20px;
                    >button {
                        @include btn(160px, 30px, 0, 13px, normal);
                        @include btnBg(1px, $gray03, $gray05, #fff);
                        margin: 0 2.5px;
                        &.active {
                            @include btnBg(0, transparent, #fff, $blue01);
                        }
                    }
                }
                >[data-gnb-article^="category"] {
                    @include displayflex(row, center, center, wrap);
                    width: 100%;
                    border-bottom: 1px solid #ccc;
                    margin-bottom: 20px;
                    >button {
                        border: 0;
                        background: none;
                        margin: 0 10px;
                        padding: 0 10px;
                        padding-bottom: 10px;
                        width: auto;
                        box-shadow: none;
                        &.active {
                            border-bottom: 1px solid #000;
                        }
                    }
                }
                >[data-gnb-article^="string"] {
                    margin-bottom: 20px;
                    display: none;
                    width: 100%;
                    >div {
                        @include displayflex(row, flex-start, flex-start, wrap);
                        width: 785px;
                        padding: 0 2.5px;
                        margin: 0 auto;
                        &:first-child {
                            margin-bottom: 5px;
                            >button {
                                font-size: 16px;
                            }
                        }
                        >button {
                            @include btn(25px, 25px, 0, 13px, normal);
                            @include btnBg(0, transparent, $gray05, #f7f7f7);
                            margin: 0 2.5px;
                            &.active {
                                @include btnBg(0, transparent, #fff, $blue01);
                            }
                        }
                    }
                }
                >[data-gnb-article^="store"] {
                    @include displayflex(row, center, center, wrap);
                    width: 100%;
                    height: 270px;
                    overflow-y: auto;
                    display: none;
                    >a {
                        @include displayflex(row, center, center, wrap);
                        background-color: #fff;
                        border: 1px solid #e6e6e6;
                        width: 160px;
                        height: 80px;
                        overflow: hidden;
                        margin: 5px;
                        >img {
                            max-width: 160px;
                        }
                    }
                }
                >[data-gnb-brand^="category"] {
                    @include displayflex(row, center, center, wrap);
                    width: 100%;
                    >li {
                        width: 20%;
                        padding: 10px 15px;
                        border-left: 1px solid #ccc;
                        &:nth-child(5n+1) {
                            border-left: 0;
                        }
                        >a {
                            color: $gray01;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
    .searchArea {
        @include displayflex(row, center, center, unset);
        width: $inner_width;
        height: 110px;
        position: relative;
        h1 {
            width: 190px;
            height: 40px;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            >a {
                font-size: 0;
                line-height: 36px;
                display: block;
                width: 100%;
                height: 100%;
                background-color: #fff;
                background-image: url(../images/logo/logo.png);
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: 100% auto;
            }
        }
        >button {
            border: 0;
            width: 110px;
            height: 115px;
            background-color: $blue02;
            font-size: 0;
            background-image: url(../images/dummy/t_01.jpg);
            background-repeat: no-repeat;
            background-position: (100%/2) (100%/2);
            margin-right: auto;
        }
        >.searchBox {
            @include displayflex(row, center, center, unset);
            border: 2px solid $blue02;
            width: 522px;
            height: 40px;
            >.select {
                width: 135px;
                height: 36px;
                border-right: 1px solid #ddd;
                position: relative;
                >a {
                    @include displayflex(inherit, center, flex-start, wrap);
                    width: 100%;
                    height: 36px;
                    padding: 0 10px;
                    color: $gray01;
                    &::after {
                        content: '\ea1c';
                        font-size: 13px;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%) rotate(90deg);
                        right: 10px;
                        color: $gray03;
                    }
                }
                >ul {
                    display: none;
                    position: absolute;
                    top: 36px;
                    left: -2px;
                    width: 138px;
                    background-color: #fff;
                    border: 2px solid #41c1d3;
                    border-top: 0;
                    padding-bottom: 5px;
                    a {
                        @include displayflex(inherit, center, flex-start, wrap);
                        height: 25px;
                        padding-left: 10px;
                        color: $gray01;
                    }
                }
            }
            >button {
                font-size: 0;
                width: 36px;
                height: 36px;
                border: 0;
                background-color: #fff;
                margin-left: auto;
                &::before {
                    content: '\e986';
                    font-size: 18px;
                    color: $blue02;
                }
            }
            >input[type=text] {
                width: calc(100% - 171px);
                height: 36px;
                padding: 0 10px;
                border: 0;
                box-shadow: none;
                color: $blue03;
                outline: none;
                font-size: 15px;
                 ::placeholder {
                    color: $gray01;
                }
            }
        }
        >.btnSet {
            @include displayflex(row, center, center, unset);
            height: 40px;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            >.btn_mypage {
                width: 28px;
                height: 27px;
                background-image: url(../images/dummy/t_mypage.jpg);
                background-repeat: no-repeat;
                font-size: 0;
                margin-right: 20px;
            }
            >.btn_cart {
                width: 37px;
                height: 35px;
                background-image: url(../images/dummy/t_shopping.jpg);
                background-repeat: no-repeat;
                font-size: 0;
                margin-top: -5px;
                position: relative;
                >span {
                    @include displayflex(inherit, center, center, wrap);
                    background-color: #41c1d3;
                    width: 20px;
                    height: 20px;
                    color: #fff;
                    position: absolute;
                    top: 0;
                    right: 0;
                    border-radius: 100%;
                    font-size: 11px;
                }
            }
        }
    }
}

.location {
    width: 100%;
    height: 50px;
    @include displayflex(row, center, center, wrap);
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 40px;
    >ul {
        @include displayflex(inherit, center, flex-start, wrap);
        width: $inner_width;
        flex-direction: row;
        >li {
            @include displayflex(inherit, center, flex-start, wrap);
            margin-left: 10px;
            >a {
                @include displayflex(inherit, center, flex-start, wrap);
                color: $gray02;
                font-size: $font_size;
                height: 18px;
                &::before {
                    content: '>';
                    font-size: 13px;
                    margin-right: 10px;
                    display: inline-block;
                    vertical-align: middle;
                }
            }
            &:first-child {
                margin-left: 0;
                >a {
                    font-size: 0;
                    display: inline-block;
                    &::before {
                        content: '\e901';
                        font-size: 18px;
                        margin: 0;
                    }
                }
            }
        }
    }
}

section {
    margin: 0 auto 150px auto;
    width: $inner_width;
    z-index: 1;
    aside {
        width: 180px;
        >h3 {
            @include displayflex(inherit, center, flex-start, wrap);
            border: 1px solid #e5e5e5;
            border-top: 0;
            width: 100%;
            height: 55px;
            padding: 0 15px;
            font-size: 13px;
        }
        >ul {
            border: 1px solid #e5e5e5;
            border-top: 0;
            >li {
                @include displayflex(inherit, center, flex-start, wrap);
                border-bottom: 1px solid #e5e5e5;
                height: 50px;
                padding: 0 15px;
                >a {
                    color: $gray02;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                &:last-child {
                    border-bottom: 0;
                }
            }
            &:last-child {
                border-bottom: 1px solid #e5e5e5;
            }
        }
    }
}