[data-section^="login"] {
    @include displayflex(row, flex-start, center, wrap);
    width: 900px;
    margin-top: 35px;
    h2 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 25px;
        height: 28px;
    }
    article {
        width: 620px;
        .loginArea {
            border: 1px solid #e5e5e5;
            padding: 25px;
            h3 {
                font-size: 14px;
                margin-bottom: 25px;
                >span {
                    font-size: 14px;
                    display: inline-block;
                    &:first-child {
                        margin-right: 20px;
                    }
                }
            }
            .loginSet {
                @include displayflex(column, flex-start, flex-start, wrap);
                width: 410px;
                height: 85px;
                input[type=text],
                input[type=password] {
                    @include inputText;
                    width: 230px;
                    margin-top: 5px;
                }
                button {
                    @include btnBg(0, transparent, #fff, $blue04);
                    width: 160px;
                    height: 85px;
                    font-size: 15px;
                    font-weight: bold;
                    margin-left: auto;
                }
            }
            label {
                margin-top: 10px;
                display: inline-block;
            }
            .btnSet {
                @include displayflex(row, flex-start, flex-start, wrap);
                margin-top: 50px;
                padding-top: 25px;
                border-top: 1px solid #e5e5e5;
                >a {
                    margin-right: 20px;
                    @include btn(150px, 45px, 0, 13px, bold);
                    &.btn_join {
                        @include btnBg(0, transparent, #fff, $gray04);
                    }
                    &.btn_id,
                    &.btn_pw {
                        @include btnBg(1px, $gray04, $gray04, #fff);
                    }
                }
            }
            [data-login^="nonemember"] {
                margin-top: 70px;
                .loginSet {
                    button {
                        @include btnBg(1px, $blue04, $blue04, #fff);
                    }
                }
                >p {
                    @include displayflex(inherit, center, flex-start, wrap);
                    margin-top: 40px;
                    width: 100%;
                    &::before {
                        content: '';
                        display: inline-block;
                        width: 14px;
                        height: 14px;
                        background-image: url(../images/dummy/icon06.jpg);
                        margin-right: 5px;
                    }
                }
            }
        }
    }
    .banner {
        width: 230px;
        height: 585px;
        margin-left: auto;
        border: 1px solid #e5e5e5;
        margin-top: auto;
    }
}