[data-section^="main"] {
    width: 100%;
    .keyVisual {
        width: 100%;
        overflow: hidden;
        height: 450px;
        position: relative;
        >.swiper-wrapper {
            width: 100%;
            display: flex;
            transition-property: transform;
            box-sizing: content-box;
            >.swiper-slide {
                @include displayflex(inherit, center, center, wrap);
                >img {
                    vertical-align: top;
                    display: block;
                }
            }
        }
        >.pagination {
            @include displayflex(row, flex-start, center, wrap);
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 20px;
            z-index: 1;
            .swiper-pagination-bullet {
                width: 20px;
                height: 20px;
                background-color: #fff;
                border-radius: 100%;
                opacity: 0.5;
                margin: 0 2.5px;
                &.swiper-pagination-bullet-active {
                    background-color: $blue03;
                    opacity: 1;
                }
            }
        }
        .diet_link {
            @include displayflex(inherit, center, flex-end, unset);
            width: $inner_width;
            height: 100%;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
            >p {
                @include displayflex(column, center, center, unset);
                width: 150px;
                height: 100%;
                background-color: #fff;
                >a {
                    @include displayflex(inherit, center, center, unset);
                    width: 100%;
                    height: (100% / 6);
                    padding: 5px 0;
                    border-bottom: 1px solid #ebebeb;
                    >img {
                        height: 100%;
                    }
                    &:last-child {
                        border-bottom: 0;
                    }
                }
            }
        }
    }
    .diet_tab {
        @include displayflex(row, flex-start, flex-start, wrap);
        width: $inner_width;
        margin: 0 auto;
        overflow: hidden;
        border-top: 1px solid $blue05;
        border-left: 1px solid $blue05;
        >a {
            @include displayflex(inherit, center, center, unset);
            width: (100% / 6);
            height: 60px;
            color: $blue05;
            border-right: 1px solid $blue05;
            border-bottom: 1px solid $blue05;
            border-left: 0;
            font-weight: bold;
            font-size: 14px;
            &.active {
                background-color: $blue05;
                color: #fff;
                border: 0;
            }
        }
    }
    h2 {
        font-size: 24px;
        font-weight: bold;
        width: $inner_width;
        margin: 80px auto 20px auto;
    }
    .middle_Banner {
        width: $inner_width;
        margin: 30px auto 0 auto;
    }
    .popular-item {
        width: $inner_width;
        margin: 0 auto 30px auto;
        border: 3px solid #d4d4d4;
        background-color: #fcfcfc;
        [data-bestItem^="icon"] {
            @include displayflex(row, center, center, wrap);
            border-bottom: 1px solid #e4e4e3;
            >a {
                @include displayflex(row, center, center, wrap);
                width: 10%;
                height: 100px;
                >img {
                    transform: scale(0.8);
                    transition-duration: 0.2s;
                }
                &.active>img,
                &:hover>img {
                    transform: scale(1.0);
                }
            }
        }
        [data-bestItem^="text"] {
            @include displayflex(row, center, center, wrap);
            padding: 20px 0;
            border-bottom: 1px solid #e4e4e3;
            >li {
                @include displayflex(row, center, center, wrap);
                width: 14.28%;
                height: 80px;
                border-left: 1px solid #efefef;
                &:first-child {
                    border-left: none;
                }
                >a {
                    color: $gray01;
                    line-height: $line-height;
                    font-size: 14px;
                    &:hover {
                        text-decoration: underline;
                    }
                    &.active {
                        font-weight: bold;
                    }
                }
            }
        }
        [data-bestItem^="string"] {
            @include displayflex(row, center, center, wrap);
            border-bottom: 1px solid #e4e4e3;
            >h3 {
                @include displayflex(row, center, center, wrap);
                width: 13.28%;
                height: 80px;
                font-size: 14px;
                font-weight: bold;
            }
            .button {
                width: 86.72%;
                >div {
                    @include displayflex(row, flex-start, flex-start, wrap);
                    padding: 0 2.5px;
                    margin: 0 auto;
                    width: 100%;
                    &:first-child {
                        margin-bottom: 5px;
                    }
                    >button {
                        @include btn(25px, 25px, 0, 13px, normal);
                        @include btnBg(0, transparent, $gray05, #f7f7f7);
                        margin: 0 2.5px;
                        &.active {
                            @include btnBg(0, transparent, #fff, $blue01);
                        }
                    }
                }
            }
        }
        [data-bestItem^="brand"] {
            @include displayflex(row, center, center, wrap);
            background-color: #f2f6f9;
            min-height: 80px;
            padding: 10px 0;
            >h3 {
                @include displayflex(row, center, center, wrap);
                width: 13.28%;
                font-size: 14px;
                font-weight: bold;
            }
            >div {
                @include displayflex(row, center, flex-start, wrap);
                width: 86.72%;
                >a {
                    color: $gray01;
                    font-weight: normal;
                    margin-right: 20px;
                    line-height: $line-height;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    [data-brand-search] {
        @include displayflex(row, flex-start, flex-start, wrap);
        width: $inner_width;
        margin: 50px auto 0 auto;
        >input[type=text] {
            @include inputText;
            width: 200px;
            height: 50px;
            line-height: 50px;
            margin-left: auto;
            border-right: 0;
        }
        >button {
            @include btnBg(0, transparent, $gray05, $gray05);
            width: 50px;
            height: 50px;
            font-size: 0;
            border: 0;
            &::before {
                content: '\e986';
                font-size: 17px;
                color: #fff;
            }
        }
        .sticky {
            width: calc(100% - 250px);
            @include displayflex(row, center, flex-start, wrap);
            border-top: 1px solid #e2e2e2;
            border-left: 1px solid #e2e2e2;
            border-bottom: 1px solid #e2e2e2;
            height: 50px;
            padding: 0 65px;
            position: relative;
            overflow: hidden;
            &.fixed {
                position: fixed;
                top: 0;
                left: 0;
                z-index: 10;
                background-color: #fff;
                border-bottom: 1px solid #e2e2e2;
            }
            .swiper-wrapper {
                position: relative;
                width: 100%;
                height: 100%;
                z-index: 1;
                display: flex;
                transition-property: transform;
                box-sizing: content-box;
                a {
                    @include displayflex(inherit, center, center, wrap);
                    font-size: 14px;
                    color: $gray01;
                    width: auto;
                    flex-shrink: 0;
                    &.active {
                        font-weight: bold;
                    }
                }
            }
            >.prev {
                @include displayflex(inherit, center, center, wrap);
                width: 50px;
                height: 100%;
                font-size: 0;
                border: 0;
                border-right: 1px solid #e2e2e2;
                background-color: #fff;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                &::before {
                    content: '';
                    background-image: url(../images/icon/ico_arrow_bottom.svg);
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    display: inline-block;
                    width: 12px;
                    height: 6px;
                    transform: rotate(90deg);
                }
            }
            >.next {
                @include displayflex(inherit, center, center, wrap);
                width: 50px;
                height: 100%;
                font-size: 0;
                border: 0;
                border-left: 1px solid #e2e2e2;
                background-color: #fff;
                position: absolute;
                top: 0;
                right: 0;
                z-index: 2;
                &::before {
                    content: '';
                    background-image: url(../images/icon/ico_arrow_bottom.svg);
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    display: inline-block;
                    width: 12px;
                    height: 6px;
                    transform: rotate(-90deg);
                }
            }
        }
    }
    [data-item-list] {
        >ul {
            @include displayflex(row, flex-start, flex-start, wrap);
            width: $inner_width;
            margin: 0 auto;
            >li {
                @include displayflex(column, flex-start, flex-start, unset);
                width: 256.25px;
                height: 370px;
                margin-right: 25px;
                margin-top: 50px;
                &:nth-child(-n+4) {
                    margin-top: 0;
                }
                &:nth-child(4n) {
                    margin-right: 0;
                }
                >.item-thomb {
                    margin-bottom: 20px;
                    >img {
                        width: 100%;
                        vertical-align: top;
                    }
                }
                .item-title {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 100%;
                    margin-bottom: 5px;
                    >a {
                        color: $gray01;
                        font-size: 16px;
                        font-weight: bold;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
                .item-subtitle {
                    font-size: 12px;
                    color: $gray06;
                    margin-bottom: 5px;
                }
                .item-star {
                    @include displayflex(row, flex-start, flex-start, wrap);
                    width: 100%;
                    .wrap_star {
                        width: 80px;
                        height: 14px;
                        background-image: url(../images/icon/ico_star.png);
                        background-size: auto 14px;
                        background-repeat: no-repeat;
                        background-position: 0 0;
                        position: relative;
                        .star_value {
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 14px;
                            background-image: url(../images/icon/ico_star.png);
                            background-size: auto 14px;
                            background-repeat: no-repeat;
                            background-position: -83px 0;
                        }
                    }
                    .number_grade {
                        font-size: 12px;
                        color: $gray06;
                        margin-left: 5px;
                    }
                }
                .item-price {
                    margin-top: auto;
                    font-size: 17px;
                    color: $blue01;
                    font-weight: bold;
                    .item-flag {
                        @include btn(60px, 20px, 0, 11px, normal);
                        @include btnBg(0, transparent, #fff, $gray06);
                        display: inline-block;
                        margin-left: 5px;
                    }
                }
            }
        }
    }
    [data-item-list^="recommended"] {
        width: 100%;
        background-color: #f5f5f5;
        padding: 50px 0;
    }
    [data-item-list^="premium"] {
        width: 100%;
        >ul {
            border-top: 1px solid #e4e4e3;
            border-left: 1px solid #e4e4e3;
            >li {
                border-right: 1px solid #e4e4e3;
                border-bottom: 1px solid #e4e4e3;
                padding: 50px;
                width: 25%;
                margin: 0;
                .item-thomb {
                    border: 0;
                    width: 100%;
                    overflow: hidden;
                }
            }
        }
    }
    [data-brand-mall^="main"] {
        @include displayflex(row, flex-start, flex-start, wrap);
        width: $inner_width;
        height: 430px;
        margin: 0 auto;
        border: 1px solid #e4e4e3;
        .left {
            @include displayflex(row, flex-start, flex-start, wrap);
            width: 680px;
            height: 100%;
            >.list {
                @include displayflex(column, flex-start, flex-start, wrap);
                width: 270px;
                height: 100%;
                >li {
                    width: 100%;
                    height: 20%;
                    border-bottom: 1px solid #e4e4e3;
                    background-color: #e4e4e3;
                    &:last-child {
                        border-bottom: 0;
                    }
                    >a {
                        @include displayflex(row, center, center, wrap);
                        width: 100%;
                        height: 100%;
                        background-color: #fff;
                        opacity: 0.7;
                        position: relative;
                        >img {
                            max-height: 100%;
                        }
                        &.active {
                            opacity: 1;
                            &::before {
                                content: '';
                                display: inline-block;
                                width: 0;
                                height: 0;
                                border-style: solid;
                                border-width: 10px;
                                border-color: transparent transparent transparent #fff;
                                position: absolute;
                                top: 50%;
                                transform: translateY(-50%);
                                right: -20px;
                            }
                        }
                    }
                }
            }
            >.banner {
                display: inline-block;
                width: calc(100% - 270px);
                height: 100%;
                >img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .right {
            @include displayflex(inherit, center, flex-start, wrap);
            width: calc(100% - 680px);
            height: 100%;
            position: relative;
            .swiper-container {
                width: 260px;
                height: 340px;
                list-style: none;
                overflow: hidden;
                .swiper-wrapper {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    display: flex;
                    transition-property: transform;
                    box-sizing: content-box;
                    .swiper-slide {
                        @include displayflex(column, flex-start, flex-start, unset);
                        height: 340px;
                        padding: 0 5px;
                        >a {
                            @include displayflex(column, flex-start, flex-start, unset);
                            width: 120px;
                            height: 170px;
                            >img {
                                width: 120px;
                            }
                            .item-title {
                                color: $gray01;
                                font-size: 13px;
                                font-weight: bold;
                                margin-top: 5px;
                            }
                            .item-price {
                                color: $blue01;
                                font-size: 14px;
                                font-weight: bold;
                                margin-top: 5px;
                            }
                        }
                    }
                }
            }
            button {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                border: 0;
                background-color: transparent;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                font-size: 0;
                width: 50px;
                height: 50px;
                &.prev {
                    left: 20px;
                    background-image: url(../images/dummy/img26.jpg);
                }
                &.next {
                    right: 20px;
                    background-image: url(../images/dummy/img27.jpg);
                }
            }
        }
    }
    [data-item-sort] {
        @include displayflex(row, center, flex-start, wrap);
        border-bottom: 1px solid #d4d4d4;
        border-top: 1px solid #d4d4d4;
        width: $inner_width;
        margin: 0 auto 35px auto;
        height: 45px;
        >button {
            border: 0;
            background-color: transparent;
            font-size: 13px;
            margin-right: 20px;
            &.active {
                color: $blue01;
                font-weight: bold;
            }
        }
        >select {
            @include inputText;
            margin-left: auto;
            width: auto;
        }
    }
    [data-brand-main] {
        @include displayflex(column, flex-start, center, wrap);
        width: $inner_width;
        height: 320px;
        margin: 0 auto;
        padding: 50px;
        background-color: $blue05;
        .white {
            color: #fff;
        }
        .black {
            color: #000;
        }
        .brand-tit {
            font-size: 42px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        .brand-text {
            font-size: 16px;
            position: relative;
            padding-right: 70px;
            width: 100%;
        }
    }
    [data-premium-brand] {
        @include displayflex(row, flex-start, flex-start, wrap);
        width: $inner_width;
        margin: 0 auto;
        >li {
            @include displayflex(column, center, center, wrap);
            width: 256.25px;
            height: 120px;
            margin-right: 25px;
            margin-top: 50px;
            border: 1px solid #e4e4e3;
            &:nth-child(-n+4) {
                margin-top: 0;
            }
            &:nth-child(4n) {
                margin-right: 0;
            }
            >a {
                display: block;
                width: 90%;
                >img {
                    width: 100%;
                }
            }
        }
    }
}