[data-section^="mypage"] {
    @include displayflex(row, flex-start, center, wrap);
    margin-top: 35px;
    aside {
        h2 {
            @include displayflex(inherit, center, center, wrap);
            font-size: 24px;
            font-weight: bold;
            width: 100%;
            height: 140px;
            border: 1px solid #e5e5e5;
        }
        h3 {
            background-color: #f5f5f5;
        }
    }
    article {
        margin-left: auto;
        width: 890px;
        .datepicker {
            width: 125px;
            height: 30px;
            line-height: 30px;
            padding: 0 15px;
            border: 1px solid #d6d6d6;
            background-image: url(../images/icon/ico_calendar.png);
            background-position: calc(100% - 10px) (100%/2);
            background-repeat: no-repeat;
        }
        >h3 {
            margin-bottom: 20px;
        }
        .customer-info {
            @include displayflex(row, center, center, wrap);
            width: 100%;
            height: 180px;
            border: 2px solid #ccc;
            margin-bottom: 40px;
            >div {
                width: 280px;
                height: 100%;
                background-color: #f5f5f5;
                @include displayflex(inherit, center, flex-start, wrap);
                padding-left: 40px;
                p {
                    width: 100%;
                    color: $gray02;
                    font-weight: normal;
                    line-height: $line_height;
                }
            }
            >dl {
                @include displayflex(column, center, flex-start, wrap);
                width: calc(100% - 280px);
                height: 100%;
                >dt {
                    @include displayflex(inherit, center, center, wrap);
                    width: (100%/3);
                    text-align: center;
                    color: $gray01;
                    font-weight: bold;
                    font-size: 13px;
                    height: calc(100% - 50px);
                    &::before {
                        content: '';
                        width: 68px;
                        height: 68px;
                        margin-bottom: 15px;
                        background-repeat: no-repeat;
                        background-position: 50% 50%;
                    }
                    &.cupon::before {
                        background-image: url(../images/dummy/img39.jpg);
                    }
                    &.mileage::before {
                        background-image: url(../images/dummy/img40.jpg);
                    }
                    &.money::before {
                        background-image: url(../images/dummy/img41.jpg);
                    }
                }
                >dd {
                    width: (100%/3);
                    height: 50px;
                    text-align: center;
                    >strong {
                        color: #FF0000;
                        font-size: 18px;
                        font-weight: bold;
                    }
                }
            }
        }
        .list-tit {
            @include displayflex(inherit, center, flex-start, wrap);
            margin-top: 50px;
            margin-bottom: 25px;
            &:first-child {
                margin-top: 0;
            }
            h2 {
                font-size: 24px;
                font-weight: bold;
            }
            p {
                width: 100%;
                font-size: 13px;
                margin-top: 10px;
                color: $gray02;
            }
            .right {
                margin-left: auto;
                .btnHelp {
                    @include btn(85px, 35px, 0, 13px, bold);
                    @include btnBg(0, transparent, #fff, $blue03);
                    border-radius: 1px;
                    display: inline-block;
                }
                .btnInfo {
                    @include btn(85px, 35px, 0, 13px, bold);
                    @include btnBg(0, transparent, #fff, $blue05);
                    border-radius: 1px;
                    display: inline-block;
                }
                .btnAdd {
                    @include btn(85px, 35px, 0, 13px, bold);
                    @include btnBg(0, transparent, #fff, $blue03);
                    border-radius: 1px;
                    display: inline-block;
                }
                select {
                    @include inputText;
                    width: 200px;
                }
            }
        }
        .list-search {
            border: 2px solid #e4e4e4;
            width: 100%;
            height: 75px;
            margin-bottom: 20px;
            @include displayflex(row, center, center, wrap);
            h3 {
                font-weight: bold;
                margin-right: 30px;
            }
            .btns {
                @include displayflex(row, center, center, wrap);
                border-top: 1px solid #d6d6d6;
                border-bottom: 1px solid #d6d6d6;
                border-right: 1px solid #d6d6d6;
                width: 320px;
                height: 30px;
                >button {
                    @include btn(16.6666%, 28px, 0, 13px, normal);
                    border-top: 0;
                    border-bottom: 0;
                    border-right: 0;
                    border-left: 1px solid #d6d6d6;
                    background-color: #fff;
                    color: #777;
                    &.active {
                        background-color: #aeaeae;
                        color: #fff;
                    }
                }
            }
            .calendar {
                @include displayflex(row, center, center, wrap);
                margin-left: 10px;
                >span {
                    padding: 0 5px;
                }
                >button {
                    @include displayflex(row, center, center, wrap);
                    @include btn(100px, 30px, 0, 13px, normal);
                    margin-left: 10px;
                    background-color: #ab3e55;
                    color: #fff;
                    border: 0;
                    &::after {
                        content: '';
                        width: 13px;
                        height: 12px;
                        display: inline-block;
                        background-image: url(../images/icon/ico_list-search.png);
                        background-repeat: no-repeat;
                        margin-left: 5px;
                    }
                }
            }
        }
        .list-top {
            @include displayflex(inherit, center, flex-start, wrap);
            width: 100%;
            margin: 20px 0;
            padding-top: 20px;
            border-top: 1px solid #e5e5e5;
            >.left {
                margin-right: auto;
                >span {
                    color: $blue01;
                    margin: 0 5px;
                    font-weight: bold;
                }
            }
            .right {
                margin-left: auto;
                &.search-date {
                    @include displayflex(row, center, flex-end, wrap);
                    >select {
                        @include inputText;
                        width: auto;
                        margin-left: 5px;
                    }
                    >span {
                        margin-left: 5px;
                        text-align: center;
                    }
                    >button {
                        margin-left: 5px;
                        @include btn(75px, 35px, 0, 13px, bold);
                        @include btnBg(0, transparent, #fff, #979797);
                    }
                }
                .btnCart {
                    @include btn(auto, 40px, 0 10px, 13px, bold);
                    @include btnBg(0, transparent, #fff, $blue03);
                    border-radius: 1px;
                    display: inline-block;
                }
                .btnDelivery,
                .btnAdBanner {
                    @include btn(150px, 50px, 0, 14px, bold);
                    @include btnBg(0, transparent, #fff, $blue03);
                    border-radius: 1px;
                    display: inline-block;
                }
            }
        }
        .list-exp {
            border-top: 1px solid #E4E4E4;
            border-left: 1px solid #E4E4E4;
            border-right: 1px solid #E4E4E4;
            background-color: #f5f5f5;
            margin-bottom: 40px;
            >div {
                border-bottom: 1px solid #E4E4E4;
                line-height: $line_height;
                padding: 30px;
                >span {
                    font-weight: bold;
                }
                >strong {
                    font-weight: bold;
                    color: $blue01;
                }
                >h3 {
                    margin-bottom: 10px;
                }
                >ul {
                    margin-bottom: 10px;
                    color: $gray02;
                }
                >p {
                    font-weight: bold;
                    color: $blue01;
                }
            }
        }
        .list-point {
            border: 2px solid #e4e4e4;
            padding: 20px;
            font-weight: bold;
            margin-bottom: 20px;
            >strong {
                color: $blue01;
                font-size: 24px;
            }
        }
        .list-tab {
            @include displayflex(row, center, center, wrap);
            width: 100%;
            margin-bottom: 50px;
            >li {
                @include displayflex(inherit, center, center, wrap);
                width: 50%;
                height: 60px;
                border: 1px solid #999999;
                font-weight: bold;
                font-size: 14px;
                &.active {
                    border: 0;
                    background-color: #666666;
                    color: #fff;
                }
            }
        }
        .pagination {
            @include displayflex(row, center, center, unset);
            width: 100%;
            >a {
                @include displayflex(row, center, center, unset);
                width: 31px;
                height: 31px;
                >strong,
                >span {
                    color: $gray01;
                    text-decoration: none;
                }
                &:hover>* {
                    color: $blue03;
                }
            }
        }
        .btn-Bottom {
            @include displayflex(row, flex-start, flex-start, unset);
            margin-top: 50px;
            button {
                @include btn(150px, 50px, 0, 14px, bold);
                &.btn_list,
                &.btn_cancel {
                    @include btnBg(1px, $gray05, $gray05, #fff);
                }
                &.btn_trans {
                    @include btnBg(0, transparent, #fff, #3d82f7);
                    margin-left: 10px;
                }
            }
            .left {
                @include displayflex(row, center, flex-start, wrap);
                margin-right: auto;
                >a {
                    text-decoration: underline;
                    margin-left: 10px;
                    color: $gray02;
                }
            }
            .right {
                @include displayflex(row, center, flex-end, wrap);
                margin-left: auto;
                >button {
                    margin-left: 10px;
                }
            }
        }
        .bottom-search {
            @include displayflex(row, center, center, wrap);
            margin-top: 50px;
            background-color: #f8f8f8;
            border-top: 1px solid #e5e5e5;
            border-bottom: 1px solid #e5e5e5;
            padding: 10px 0;
            select {
                @include inputText;
                width: 200px;
                margin-right: 5px;
            }
            input[type=text] {
                @include inputText;
                width: 400px;
                margin-right: 5px;
            }
            button {
                @include btn(85px, 35px, 0, 13px, normal);
                @include btnBg(0, transparent, #fff, $blue03);
            }
        }
        .tblView {
            @include tblView;
            margin-bottom: 35px;
            th {
                padding: 10px 20px;
                border-right: 1px solid #e5e5e5;
                >span {
                    color: #FF6600;
                }
                >strong {
                    font-size: 24px;
                }
            }
            td {
                padding: 10px 0 10px 20px;
                .btnModify {
                    @include btn(auto, 26px, 0 12px, 12px, normal);
                    @include btnBg(1px, #bcbfc6, #777, #fff);
                    border-radius: 2px;
                }
                .rePasswd {
                    >p {
                        color: #818181;
                        padding: 20px 0;
                        font-size: 12px;
                        letter-spacing: -1px;
                        line-height: $line_height;
                    }
                    >dl {
                        @include displayflex(row, flex-start, center, wrap);
                        >dt {
                            @include displayflex(column, flex-start, center, wrap);
                            width: 130px;
                            height: 35px;
                            margin-right: auto;
                            margin-bottom: 10px;
                            color: $gray02;
                        }
                        >dd {
                            width: calc(100% - 130px);
                            height: 35px;
                            margin-left: auto;
                            margin-bottom: 10px;
                        }
                    }
                    .btnModify {
                        margin-left: 130px;
                        margin-top: 10px;
                    }
                }
                .btn_itemSelect {
                    @include btn(110px, 35px, 0, 13px, normal);
                    @include btnBg(0, transparent, #fff, #3d82f7);
                    border-radius: 1px;
                    margin-left: 10px;
                }
                .inputFile {
                    height: 35px;
                    position: relative;
                    >input[type=file] {
                        @include btn(110px, 35px, 0, 13px, normal);
                        font-size: 0;
                        opacity: 0;
                        position: absolute;
                        top: 0;
                        right: 0;
                        z-index: 2;
                        cursor: pointer;
                    }
                    >input[type=text] {
                        width: calc(100% - 120px);
                    }
                    >.btn {
                        @include btn(110px, 35px, 0, 13px, bold);
                        @include btnBg(1px, $gray05, $gray05, #fff);
                        position: absolute;
                        top: 0;
                        right: 0;
                        z-index: 1;
                    }
                }
                .text1 {
                    font-size: 12px;
                    color: $gray06;
                    margin-bottom: 10px;
                }
                .text2 {
                    font-size: 12px;
                    color: $gray06;
                    margin-top: 10px;
                }
                .item-banner {
                    @include displayflex(row, flex-start, center, wrap);
                    >div {
                        width: 50%;
                        height: 300px;
                    }
                    >.left {
                        @include displayflex(row, center, center, wrap);
                        border: 1px solid #e5e5e5;
                        >img {
                            width: 100%;
                        }
                    }
                    >.right {
                        @include displayflex(column, flex-start, center, wrap);
                        padding: 20px;
                        line-height: $line_height;
                    }
                }
                .btn_AdPay {
                    @include btn(150px, 50px, 0, 14px, bold);
                    @include btnBg(0, transparent, #fff, #3d82f7);
                    border-radius: 1px;
                    display: inline-block;
                }
                .btn_option {
                    @include btn(auto, 35px, 0 10px, 13px, bold);
                    @include btnBg(0, transparent, #fff, $blue05);
                    border-radius: 1px;
                    display: inline-block;
                }
                .option-add {
                    @include displayflex(row, center, flex-start, wrap);
                    margin-bottom: 10px;
                    width: 100%;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    >* {
                        margin-right: 5px;
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                    >input {
                        width: 30%;
                    }
                }
                .text_AdPay {
                    font-size: 24px;
                    line-height: 50px;
                    height: 50px;
                    display: inline-block;
                    width: 180px;
                    vertical-align: middle;
                }
                .adSet {
                    @include displayflex(column, flex-start, center, wrap);
                    width: 100%;
                    >li:first-child {
                        margin-bottom: 10px;
                    }
                    .btn_trance {
                        @include btn(85px, 35px, 0, 13px, bold);
                        @include btnBg(1px, $gray05, $gray01, #fff);
                    }
                    .btn_add {
                        @include btn(85px, 35px, 0, 13px, bold);
                        @include btnBg(0, transparent, #fff, $gray05);
                    }
                }
            }
        }
        .tblList {
            @include tblView;
            margin-bottom: 30px;
            thead {
                th {
                    text-align: center;
                }
            }
            tbody {
                td {
                    text-align: center;
                    padding: 10px 5px;
                    input[type=text] {
                        @include inputText;
                    }
                    a {
                        text-decoration: none;
                        color: $gray02;
                        &:hover {
                            text-decoration: underline;
                        }
                        &.item {
                            @include displayflex(row, center, flex-start, wrap);
                            &:hover {
                                text-decoration: none;
                            }
                            >img {
                                margin-right: 20px;
                                width: 70px;
                            }
                            >p {
                                @include displayflex(column, flex-start, center, wrap);
                                line-height: $line_height;
                                >strong {
                                    font-weight: normal;
                                }
                                >span {
                                    color: $gray02;
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                    &.subject {
                        text-align: left;
                    }
                    .btn_cart {
                        @include btn(auto, 35px, 0 10px, 11px, normal);
                        @include btnBg(1px, $blue05, $blue05, #fff);
                    }
                    .btn_review {
                        @include btn(auto, 35px, 0 10px, 11px, normal);
                        @include btnBg(1px, $gray05, $gray05, #fff);
                    }
                    .btn_del {
                        @include btn(85px, 35px, 0, 13px, normal);
                        @include btnBg(0, transparent, #fff, $gray03);
                    }
                    .btn_modify {
                        @include btn(85px, 35px, 0 10px, 13px, normal);
                        @include btnBg(1px, $blue05, $blue05, #fff);
                        margin-bottom: 5px;
                    }
                    .blue {
                        color: #4ab9c6;
                    }
                }
            }
        }
    }
}