[data-section^="sign-up"] {
    width: 700px;
    h2 {
        @include displayflex(inherit, center, center, wrap);
        padding-bottom: 25px;
        border-bottom: 1px solid $gray03;
        margin-bottom: 35px;
        margin-top: 100px;
        >strong {
            font-size: 36px;
            color: $blue01;
            margin-right: 10px;
        }
        >span {
            font-size: 32px;
            color: $gray01;
            font-weight: normal;
        }
    }
    .sign-up {
        border: 5px solid #f5f5f5;
        padding: 50px;
        >.text {
            border-bottom: 2px solid #f5f5f5;
            padding-bottom: 10px;
            padding-top: 70px;
            color: $blue01;
            font-size: 24px;
            position: relative;
            text-align: center;
            &::before {
                content: '\e971';
                font-size: 50px;
                color: $blue01;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        >.cupon {
            margin-top: 50px;
            border: 2px solid $blue01;
            padding: 20px;
            >h3 {
                font-weight: normal;
                font-size: 18px;
                border-bottom: 1px solid $gray03;
                padding-bottom: 20px;
                margin-bottom: 20px;
                >Strong {
                    font-size: 24px;
                    font-weight: normal;
                }
                >span {
                    color: $blue01;
                }
            }
            >p {
                line-height: $line-height;
                color: $gray05;
            }
        }
    }
    .btn_set {
        @include displayflex(row, center, center, wrap);
        margin-top: 50px;
        >button {
            @include btn(190px, 55px, 0, 15px, bold);
            &.btn_trans {
                @include btnBg(0, transparent, #fff, $blue02);
            }
        }
    }
}