@font-face {
    font-family: "Nanum Gothic";
    font-style: normal;
    font-weight: 400;
    src: local('Nanum Gothic'), local('NanumGothic Regular'), url(../fonts/NanumGothic-Regular.eot), url(../fonts/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'), url(../fonts/NanumGothic-Regular.woff) format('woff'), url(../fonts/NanumGothic-Regular.woff2) format('woff2'), url(../fonts/NanumGothic-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "Nanum Gothic";
    font-style: normal;
    font-weight: 700;
    src: local('NanumGothic Bold'), url(../fonts/NanumGothic-Bold.eot), url(../fonts/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'), url(../fonts/NanumGothic-Bold.woff) format('woff'), url(../fonts/NanumGothic-Bold.woff2) format('woff2'), url(../fonts/NanumGothic-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?gd2hff');
    src: url('../fonts/icomoon.eot?gd2hff#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?gd2hff') format('truetype'), url('../fonts/icomoon.woff?gd2hff') format('woff'), url('../fonts/icomoon.svg?gd2hff#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}