$inner_width: 100%;
$gray01: #2e2e2e;
$gray02: #686868;
$gray03: #989898;
$gray04: #4c4c4c;
$gray05: #666666;
$gray06: #818181;
$blue01: #24aab2;
$blue02: #41c1d3;
$blue03: #3d82f7;
$blue04: #00a6b2;
$blue05: #5094cf;
$font_family: 'Nanum Gothic';
$font_size: 13px;
$line_height: 20px;
@mixin displayflex($direction, $align, $justify, $wrap) {
    display: flex;
    flex-wrap: $wrap;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

@mixin inputText {
    height: 35px;
    line-height: 30px;
    border: 1px solid #cccccc;
    padding: 0 10px;
    color: $gray02;
    background-color: #ffffff;
    outline: none;
    vertical-align: middle;
}

@mixin textarea($height) {
    width: 100%;
    height: $height;
    border: 1px solid #cccccc;
    padding: 0 10px;
    color: $gray02;
    background-color: #ffffff;
    outline: none;
    padding: 10px;
    vertical-align: middle;
}

@mixin tblView {
    border-top: 1px solid #999999;
    tr {
        @include displayflex(column, flex-start, flex-start, wrap);
        width: 100%;
        padding: 10px 0;
        border-bottom: 1px solid #e5e5e5;
        th,
        td {
            @include displayflex(row, center, flex-start, wrap);
            width: 100%;
            height: auto;
            padding: 5px 0;
            background-color: #fff;
            text-align: left;
            input[type=number],
            input[type=file],
            input[type=password],
            input[type=text] {
                @include inputText;
            }
            label {
                display: inline-block;
                margin: 5px 20px 5px 0;
                line-height: 27px;
            }
            textarea {
                @include textarea(120px);
            }
            select {
                @include inputText;
            }
            .zip-code {
                @include displayflex(row, center, flex-start, wrap);
                width: 100%;
                >input[type=text] {
                    &:nth-child(3),
                    &:nth-child(4) {
                        margin-top: 5px;
                    }
                }
            }
            .btn_check {
                @include btn(80px, 35px, 0 10px, 12px, normal);
                @include btnBg(1px, $gray05, $gray01, #fff);
                margin-left: 5px;
            }
            select+span,
            input[type=number]+span {
                width: 15px;
                text-align: center;
            }
        }
    }
}

@mixin btn($width, $height, $padding, $fontSize, $fontWeight) {
    width: $width;
    height: $height;
    line-height: $height - 1px;
    padding: $padding;
    font-size: $fontSize;
    font-weight: $fontWeight;
    text-align: center;
    vertical-align: middle;
}

@mixin btnBg($borderWidth, $BorderColor, $Color, $backgroundColor) {
    border-style: solid;
    border-width: $borderWidth;
    border-color: $BorderColor;
    color: $Color;
    background-color: $backgroundColor;
}