[data-section^="info"] {
    padding: 30px 15px;
    >h3 {
        margin-top: 30px;
        margin-bottom: 10px;
        font-size: 16px;
        &:first-child {
            margin-top: 0;
        }
    }
    >p {
        margin-bottom: 10px;
    }
    table {
        border: 1px solid #fff;
        text-align: left;
        th {
            background-color: $gray04;
            color: #fff;
            padding: 15px;
            border-bottom: 1px solid #fff;
        }
        td {
            background-color: #f5f5f5;
            padding: 15px;
            border-bottom: 1px solid #fff;
        }
    }
    .info01 {
        width: 100%;
        margin-bottom: 50px;
    }
    .cominfo01 {
        margin-bottom: 50px;
        >img {
            width: 150px;
            float: left;
            margin-bottom: 10px;
            margin-right: 10px;
        }
        >p {
            margin-bottom: 10px;
            font-size: 17px;
            line-height: 150%;
        }
        &::after {
            content: '';
            clear: both;
            display: block;
        }
    }
    .cominfo02 {
        >img {
            width: 150px;
            float: right;
            margin-bottom: 10px;
            margin-left: 10px;
        }
        >p {
            margin-bottom: 10px;
            font-size: 15px;
            line-height: 150%;
        }
        &::after {
            content: '';
            clear: both;
            display: block;
        }
    }
}