body {
    @include displayflex(column, flex-start, flex-start, wrap);
    color: $gray01;
    line-height: normal;
    height: 100%;
    min-height: 100vh;
    font: {
        size: $font_size;
        family: $font_family;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $font_family;
    outline: none;
}

*::before,
*::after {
    font-family: 'icomoon';
}

a,
button {
    text-decoration: none;
    cursor: pointer;
}

ul,
ol,
dl {
    list-style: none;
}

img {
    border: 0;
    vercital-align: middle;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

input[type=checkbox] {
    -webkit-appearance: none;
    height: 25px;
    width: 25px;
    background-color: #eee;
    cursor: pointer;
    position: relative;
    vertical-align: middle;
    border: 1px solid #ccc;
    border-radius: 1px;
}

input[type=checkbox]:hover {
    background-color: #ccc;
}

input[type=checkbox]:checked {
    background-color: $blue03;
    border: 0;
}

input[type=checkbox]:checked:after {
    content: '';
    position: absolute;
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

input[type=radio] {
    -webkit-appearance: none;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    vertical-align: middle;
    border: 1px solid #ccc;
}

input[type=radio]:hover {
    background-color: #ccc;
}

input[type=radio]:checked {
    background-color: $blue03;
    border: 0;
}

input[type=radio]:checked:after {
    content: '';
    position: absolute;
    left: 9px;
    top: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
}

header {
    @include displayflex(column, center, center, wrap);
    border-bottom: 1px solid #e2e2e2;
    width: 100%;
    >.head {
        @include displayflex(row, center, center, wrap);
        width: 100%;
        height: 50px;
        position: relative;
        >h1 {
            font-size: 19px;
            >a {
                width: 110px;
                height: 40px;
                font-size: 0;
                display: block;
                background-color: #fff;
                background-image: url(../images/logo/logo.png);
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: 100% auto;
            }
        }
        .btn_navi {
            @include displayflex(inherit, center, center, wrap);
            border: 0;
            background-color: transparent;
            width: 50px;
            height: 50px;
            font-size: 0;
            position: absolute;
            top: 0;
            left: 0;
            &::before {
                content: '\e9bd';
                font-size: 21px;
                color: $gray01;
                transition-duration: 0.2s;
            }
        }
        .btn_cart {
            @include displayflex(inherit, center, center, wrap);
            border: 0;
            background-color: transparent;
            width: 50px;
            height: 50px;
            font-size: 0;
            position: absolute;
            top: 0;
            right: 0;
            &::before {
                content: '\e93a';
                font-size: 21px;
                color: $gray01;
            }
        }
        .btn_back {
            @include displayflex(inherit, center, center, wrap);
            border: 0;
            background-color: transparent;
            width: 50px;
            height: 50px;
            font-size: 0;
            position: absolute;
            top: 0;
            left: 0;
            background-image: url(../images/icon/ico_back.webp);
            background-position: 50% 50%;
            background-size: auto 20px;
            background-repeat: no-repeat;
        }
        .btn_home {
            @include displayflex(inherit, center, center, wrap);
            border: 0;
            background-color: transparent;
            width: 50px;
            height: 50px;
            font-size: 0;
            position: absolute;
            top: 0;
            right: 0;
            &::before {
                content: '\e901';
                font-size: 21px;
                color: #000;
            }
        }
    }
    >.search {
        @include displayflex(row, center, center, wrap);
        background-color: #f3f3f3;
        width: calc(100% - 32px);
        height: 45px;
        margin: 0 15px 5px 15px;
        border-radius: 2px;
        overflow: hidden;
        >input[type=text] {
            background-color: transparent;
            box-shadow: transparent;
            border-radius: 0;
            border: 0;
            padding: 0 10px;
            width: calc(100% - 45px);
            height: 45px;
            color: $gray03;
            font-size: 14px;
            &::placeholder {
                color: $gray03;
            }
        }
        >button {
            @include displayflex(inherit, center, center, wrap);
            background-color: transparent;
            box-shadow: transparent;
            border-radius: 0;
            border: 0;
            width: 45px;
            height: 45px;
            font-size: 0;
            &::before {
                content: '\e986';
                font-size: 21px;
                color: $gray01;
            }
        }
    }
    >.sticky {
        @include displayflex(row, center, flex-start, wrap);
        border-top: 1px solid #e2e2e2;
        width: 100%;
        height: 40px;
        padding-left: 15px;
        padding-right: 65px;
        position: relative;
        overflow: hidden;
        &.fixed {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 10;
            background-color: #fff;
            border-bottom: 1px solid #e2e2e2;
        }
        .swiper-wrapper {
            position: relative;
            width: 100%;
            height: 40px;
            z-index: 1;
            display: flex;
            transition-property: transform;
            box-sizing: content-box;
            a {
                @include displayflex(inherit, center, center, wrap);
                font-size: 14px;
                color: $gray01;
                width: auto;
                flex-shrink: 0;
            }
        }
        >.next {
            @include displayflex(inherit, center, center, wrap);
            width: 40px;
            height: 40px;
            font-size: 0;
            border: 0;
            border-left: 1px solid #e2e2e2;
            background-color: #fff;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 2;
            &::before {
                content: '';
                background-image: url(../images/icon/ico_arrow_bottom.svg);
                background-repeat: no-repeat;
                background-position: 50% 50%;
                display: inline-block;
                width: 12px;
                height: 6px;
                transform: rotate(-90deg);
            }
        }
    }
}

footer {
    width: 100%;
    margin-top: auto;
    .copyright {
        background-color: #363636;
        >ul {
            @include displayflex(row, center, center, wrap);
            width: 100%;
            height: 40px;
            border-bottom: 1px solid #313131;
            >li {
                padding-right: 10px;
                margin-right: 10px;
                position: relative;
                &::after {
                    content: '';
                    width: 1px;
                    height: 8px;
                    background-color: #969696;
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                }
                &:last-child {
                    padding-right: 0;
                    margin-right: 0;
                    &::after {
                        display: none;
                    }
                }
                >a {
                    color: #fff;
                    font-size: 12px;
                    letter-spacing: -1px;
                }
            }
        }
    }
    address {
        padding: 15px 15px 65px 15px;
        color: #969696;
        font-style: normal;
        font-size: 12px;
        letter-spacing: -1px;
    }
    .dockbar {
        @include displayflex(row, center, center, wrap);
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50px;
        border: 1px solid #ccc;
        border-radius: 12px 12px 0 0;
        background-color: #fff;
        z-index: 10;
        >li {
            @include displayflex(inherit, center, center, wrap);
            width: 20%;
            height: 50px;
            >button,
            >a {
                @include displayflex(inherit, center, center, wrap);
                width: 50px;
                height: 50px;
                font-size: 0;
                border: 0;
                background-color: transparent;
            }
            .ico_home::before {
                content: '\e901';
                font-size: 21px;
                color: $gray04;
            }
            .ico_back::before {
                content: '\ea38';
                font-size: 21px;
                color: $gray04;
            }
            .ico_cart::before {
                content: '\e93a';
                font-size: 21px;
                color: $gray04;
            }
            .ico_mypage::before {
                content: '\e971';
                font-size: 21px;
                color: $gray04;
            }
            .ico_navi::before {
                content: '\e9bd';
                font-size: 21px;
                color: $gray04;
            }
        }
    }
}

nav {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow: hidden;
    z-index: 11;
    display: none;
    .util {
        @include displayflex(row, center, flex-start, wrap);
        width: 100%;
        height: 50px;
        padding: 0 20px;
        >a {
            font-size: 15px;
            color: $gray01;
            &::before {
                content: '\ea7d';
                margin-right: 5px;
            }
        }
    }
    >button {
        @include displayflex(inherit, center, center, wrap);
        width: 50px;
        height: 50px;
        font-size: 0;
        border: 0;
        background-color: transparent;
        position: absolute;
        top: 0;
        right: 0;
        &::before {
            content: '';
            width: 20px;
            height: 20px;
            background-image: url(../images/icon/ico_x.svg);
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }
    }
    .tab1 {
        @include displayflex(row, center, flex-start, wrap);
        height: 50px;
        border-bottom: 2px solid $blue01;
        >button {
            margin-left: 20px;
            font-size: 15px;
            font-weight: bold;
            border: 0;
            background-color: transparent;
            color: #b5b5b5;
            &.active {
                color: $blue01;
            }
        }
    }
    [data-gnb-list^="category"] {
        padding: 0 20px;
        height: calc(100vh - 50px);
        overflow-y: auto;
        >li {
            border-top: 1px solid #f5f5f5;
            &:first-child {
                border-top: 0;
            }
            >h3 {
                >a {
                    @include displayflex(row, center, flex-start, wrap);
                    width: 100%;
                    height: 50px;
                    font-size: 14px;
                    font-weight: bold;
                    color: $gray01;
                    &::after {
                        content: '';
                        transition-duration: 0.2s;
                        width: 12px;
                        height: 6px;
                        background-image: url(../images/icon/ico_arrow_bottom.svg);
                        background-repeat: no-repeat;
                        background-position: 50% 50%;
                        margin-left: auto;
                        opacity: 0.5;
                    }
                }
                &.active {
                    >a {
                        color: $blue01;
                        &::after {
                            transform: rotate(180deg);
                            opacity: 1;
                        }
                    }
                }
            }
            >ul {
                padding-left: 10px;
                padding-bottom: 20px;
                display: none;
                >li {
                    @include displayflex(inherit, center, flex-start, wrap);
                    width: 100%;
                    height: 40px;
                    >a {
                        color: $gray01;
                    }
                }
            }
        }
    }
    [data-gnb-list^="brand"] {
        display: none;
        .tab2 {
            @include displayflex(row, center, center, wrap);
            padding: 10px 15px;
            >button {
                @include btn(calc(33.3% - 5px), 30px, 0, 13px, normal);
                @include btnBg(1px, $gray03, $gray05, #fff);
                margin: 0 2.5px;
                border-radius: 2px;
                &.active {
                    @include btnBg(0, transparent, #fff, $blue01);
                }
            }
        }
        .gnb-article {
            @include displayflex(row, flex-start, flex-start, wrap);
            >* {
                height: calc(100vh - 100px);
                overflow-y: auto;
            }
            [data-gnb-article] {
                display: none;
                width: 130px;
                >button {
                    @include displayflex(inherit, center, center, wrap);
                    width: 100%;
                    height: 50px;
                    border: 0;
                    border-bottom: 1px solid #e3e3e3;
                    background-color: #f0f0f0;
                    color: #888;
                    padding: 0 20px;
                    text-align: center;
                    &.active {
                        color: $gray01;
                        font-weight: bold;
                    }
                }
                &[data-gnb-article^="category"] {
                    >button {
                        @include displayflex(inherit, center, flex-start, wrap);
                        text-align: left;
                    }
                }
            }
            [data-gnb-article^="string1"] {
                >button {
                    font-size: 16px;
                }
            }
            [data-gnb-brand] {
                width: calc(100% - 130px);
                padding: 30px;
                >li {
                    margin-bottom: 50px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    >a {
                        color: $gray01;
                    }
                }
            }
        }
    }
    [data-gnb-list^="store"] {
        @include displayflex(row, center, flex-start, wrap);
        padding: 30px;
        width: 100%;
        height: calc(100vh - 50px);
        overflow-y: auto;
        >a {
            width: calc(50% - 5px);
            text-align: center;
            padding: 20px 0;
            background-color: #fff;
            border: 1px solid #e6e6e6;
            margin-bottom: 10px;
            &:nth-child(odd) {
                margin-right: 5px;
            }
            &:nth-child(even) {
                margin-left: 5px;
            }
            >img {
                width: 100%;
                max-width: 140px;
            }
        }
    }
}

section {
    width: 100%;
    overflow: hidden;
}