[data-section^="login"] {
    .loginArea {
        padding: 25px;
        h3 {
            font-size: 14px;
            margin-bottom: 25px;
            >span {
                font-size: 14px;
                display: inline-block;
                &:first-child {
                    margin-right: 20px;
                }
            }
        }
        .loginSet {
            @include displayflex(column, flex-start, flex-start, wrap);
            width: 100%;
            height: 85px;
            input[type=text],
            input[type=password] {
                @include inputText;
                width: calc(100% - 120px);
                margin-top: 5px;
            }
            button {
                @include btnBg(0, transparent, #fff, $blue04);
                width: 110px;
                height: 85px;
                font-size: 15px;
                font-weight: bold;
                margin-left: auto;
            }
        }
        label {
            margin-top: 10px;
            display: inline-block;
        }
        .btnSet {
            @include displayflex(row, flex-start, flex-start, wrap);
            margin-top: 50px;
            padding-top: 25px;
            border-top: 1px solid #e5e5e5;
            >a {
                margin: 0 5px;
                @include btn(calc(33.3% - 10px), 45px, 0, 13px, bold);
                &.btn_join {
                    @include btnBg(0, transparent, #fff, $gray04);
                }
                &.btn_id,
                &.btn_pw {
                    @include btnBg(1px, $gray04, $gray04, #fff);
                }
            }
        }
        [data-login^="nonemember"] {
            margin-top: 50px;
            .loginSet {
                button {
                    @include btnBg(1px, $blue04, $blue04, #fff);
                }
            }
            >p {
                margin-top: 30px;
                width: 100%;
                position: relative;
                padding-left: 20px;
                &::before {
                    content: '';
                    display: inline-block;
                    width: 14px;
                    height: 14px;
                    background-image: url(../images/dummy/icon06.jpg);
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }
    }
}