[data-section^="main"] {
    padding-bottom: 50px;
    h2 {
        font-size: 19px;
        font-weight: bold;
        width: 100%;
        margin: 30px auto 10px auto;
        padding: 0 15px;
    }
    .keyVisual {
        width: 100%;
        overflow: hidden;
        position: relative;
        >.swiper-wrapper {
            width: 100%;
            display: flex;
            transition-property: transform;
            box-sizing: content-box;
            >.swiper-slide {
                @include displayflex(inherit, center, center, wrap);
                flex-shrink: 0;
                -webkit-box-pack: center;
                -webkit-box-align: center;
                >img {
                    vertical-align: top;
                    display: block;
                    width: 100%;
                }
            }
        }
        >.pagination {
            @include displayflex(row, flex-start, center, wrap);
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 10px;
            .swiper-pagination-bullet {
                width: 10px;
                height: 10px;
                background-color: #fff;
                border-radius: 100%;
                opacity: 0.5;
                margin: 0 2.5px;
                &.swiper-pagination-bullet-active {
                    background-color: $blue03;
                    opacity: 1;
                }
            }
        }
    }
    .diet_link {
        @include displayflex(row, flex-start, flex-start, wrap);
        >a {
            width: (100% / 3);
            padding: 10px;
            border-right: 1px solid #ebebeb;
            position: relative;
            >img {
                width: 100%;
            }
            &:nth-child( -n + 3) {
                border-bottom: 1px solid #ebebeb;
            }
            &:nth-child(3n) {
                border-right-color: #fff;
            }
        }
    }
    .middle_Banner {
        overflow: hidden;
        >a {
            display: block;
            >img {
                width: 100%;
            }
        }
    }
    [data-item-list] {
        padding: 0 15px;
        >ul {
            @include displayflex(row, flex-start, flex-start, wrap);
            width: 100%;
            margin: 0 auto;
            >li {
                @include displayflex(column, flex-start, flex-start, wrap);
                width: calc(50% - 5px);
                margin-top: 20px;
                &:nth-child(-n+2) {
                    margin-top: 0;
                }
                &:nth-child(odd) {
                    margin-right: 5px;
                }
                &:nth-child(even) {
                    margin-left: 5px;
                }
                >.item-thomb {
                    margin-bottom: 20px;
                    border-radius: 2px;
                    overflow: hidden;
                    >img {
                        width: 100%;
                        vertical-align: top;
                    }
                }
                .item-title {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 100%;
                    margin-bottom: 5px;
                    >a {
                        color: $gray01;
                        font-size: 14px;
                        font-weight: bold;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
                .item-subtitle {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 100%;
                    font-size: 12px;
                    color: $gray06;
                    margin-bottom: 5px;
                }
                .item-star {
                    @include displayflex(row, flex-start, flex-start, wrap);
                    width: 100%;
                    .wrap_star {
                        width: 80px;
                        height: 14px;
                        background-image: url(../images/icon/ico_star.png);
                        background-size: auto 14px;
                        background-repeat: no-repeat;
                        background-position: 0 0;
                        position: relative;
                        .star_value {
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 14px;
                            background-image: url(../images/icon/ico_star.png);
                            background-size: auto 14px;
                            background-repeat: no-repeat;
                            background-position: -83px 0;
                        }
                    }
                    .number_grade {
                        font-size: 12px;
                        color: $gray06;
                        margin-left: 5px;
                    }
                }
                .item-price {
                    @include displayflex(row, flex-start, flex-start, wrap);
                    width: 100%;
                    margin-top: 10px;
                    font-size: 15px;
                    color: $blue01;
                    font-weight: bold;
                    .item-flag {
                        @include btn(60px, 20px, 0, 11px, normal);
                        @include btnBg(0, transparent, #fff, $gray06);
                        display: inline-block;
                        margin-left: auto;
                    }
                }
            }
        }
    }
    [data-item-list^="premium"] {
        width: 100%;
        >ul {
            border-top: 1px solid #e4e4e3;
            border-left: 1px solid #e4e4e3;
            >li {
                border-right: 1px solid #e4e4e3;
                border-bottom: 1px solid #e4e4e3;
                padding: 20px;
                width: 50%;
                margin: 0 !important;
                .item-thomb {
                    border: 0;
                    border-radius: 0;
                }
            }
        }
    }
    [data-brand-mall^="main"] {
        @include displayflex(column, flex-start, flex-start, wrap);
        width: 100%;
        padding: 0 15px;
        .left {
            @include displayflex(row, flex-start, flex-start, wrap);
            border: 1px solid #e4e4e3;
            width: 100%;
            height: 280px;
            overflow: hidden;
            margin-bottom: 10px;
            >.list {
                @include displayflex(column, flex-start, flex-start, wrap);
                width: 120px;
                height: 100%;
                >li {
                    width: 100%;
                    height: 20%;
                    border-bottom: 1px solid #e4e4e3;
                    background-color: #e4e4e3;
                    &:last-child {
                        border-bottom: 0;
                    }
                    >a {
                        @include displayflex(row, center, center, wrap);
                        width: 100%;
                        height: 100%;
                        background-color: #fff;
                        opacity: 0.7;
                        position: relative;
                        >img {
                            height: 100%;
                            width: auto;
                        }
                        &.active {
                            opacity: 1;
                            &::before {
                                content: '';
                                display: inline-block;
                                width: 0;
                                height: 0;
                                border-style: solid;
                                border-width: 10px;
                                border-color: transparent transparent transparent #fff;
                                position: absolute;
                                top: 50%;
                                transform: translateY(-50%);
                                right: -20px;
                                z-index: 9;
                            }
                        }
                    }
                }
            }
            >.banner {
                display: inline-block;
                width: calc(100% - 120px);
                height: 100%;
                position: relative;
                overflow: hidden;
                >img {
                    width: auto;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
        .right {
            @include displayflex(inherit, center, center, wrap);
            width: 100%;
            position: relative;
            border: 1px solid #e4e4e3;
            padding: 15px;
            .swiper-container {
                width: 100%;
                list-style: none;
                overflow: hidden;
                .swiper-wrapper {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    display: flex;
                    transition-property: transform;
                    box-sizing: content-box;
                    .swiper-slide {
                        @include displayflex(column, flex-start, flex-start, unset);
                        padding: 0 5px;
                        >a {
                            @include displayflex(column, flex-start, flex-start, unset);
                            width: calc(50vw - 40px);
                            >img {
                                width: 100%;
                            }
                            .item-title {
                                color: $gray01;
                                font-size: 13px;
                                font-weight: bold;
                                margin-top: 5px;
                            }
                            .item-price {
                                color: $blue01;
                                font-size: 14px;
                                font-weight: bold;
                                margin-top: 5px;
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
                >.pagination {
                    @include displayflex(row, flex-start, center, wrap);
                    .swiper-pagination-bullet {
                        width: 10px;
                        height: 10px;
                        background-color: #ccc;
                        border-radius: 100%;
                        opacity: 0.5;
                        margin: 0 2.5px;
                        &.swiper-pagination-bullet-active {
                            background-color: $blue03;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    [data-item-sort] {
        @include displayflex(row, flex-end, flex-end, unset);
        padding: 5px 15px;
        border-top: 1px solid #e0e0e0;
        border-bottom: 1px solid #e0e0e0;
        background-color: #f0f0f0;
        margin-bottom: 15px;
        select {
            @include inputText;
            border-radius: 2px;
            margin-left: 6px;
            &:first-child {
                margin-left: 0;
            }
        }
    }
    [data-brand-main] {
        @include displayflex(column, flex-start, center, wrap);
        width: $inner_width;
        height: 200px;
        margin: 0 auto;
        padding: 20px;
        background-position: 50% 50%;
        background-size: auto 100%;
        background-color: $blue05;
        .white {
            color: #fff;
        }
        .black {
            color: #000;
        }
        .brand-tit {
            font-size: 22px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        .brand-text {
            font-size: 13px;
        }
    }
    [data-premium-brand] {
        @include displayflex(row, flex-start, flex-start, wrap);
        width: $inner_width;
        margin: 0 auto;
        padding: 0 15px;
        >li {
            @include displayflex(column, center, center, wrap);
            width: calc(50% - 5px);
            margin-top: 20px;
            border: 1px solid #e4e4e3;
            &:nth-child(-n+2) {
                margin-top: 0;
            }
            &:nth-child(odd) {
                margin-right: 5px;
            }
            &:nth-child(even) {
                margin-left: 5px;
            }
            >a {
                @include displayflex(column, center, center, wrap);
                overflow: hidden;
                height: 20vw;
                >img {
                    width: 100%;
                    vertical-align: top;
                }
            }
        }
    }
}