[data-section^="mypage"] {
    padding: 15px 15px 50px 15px;
    .link {
        color: $gray01;
        text-decoration: underline;
    }
    .customer-info {
        @include displayflex(column, center, center, wrap);
        width: 100%;
        border: 2px solid #ccc;
        >div {
            width: 100%;
            height: 100px;
            background-color: #f5f5f5;
            @include displayflex(inherit, center, center, unset);
            padding-left: 40px;
            p {
                width: 100%;
                color: $gray02;
                font-weight: normal;
                line-height: $line_height;
            }
        }
        >dl {
            @include displayflex(column, center, flex-start, wrap);
            width: 100%;
            height: 180px;
            >dt {
                @include displayflex(inherit, center, center, wrap);
                width: (100%/3);
                text-align: center;
                color: $gray01;
                font-weight: bold;
                font-size: 13px;
                height: calc(100% - 50px);
                &::before {
                    content: '';
                    width: 68px;
                    height: 68px;
                    margin-bottom: 15px;
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                }
                &.cupon::before {
                    background-image: url(../images/dummy/img39.jpg);
                }
                &.mileage::before {
                    background-image: url(../images/dummy/img40.jpg);
                }
                &.money::before {
                    background-image: url(../images/dummy/img41.jpg);
                }
            }
            >dd {
                width: (100%/3);
                height: 50px;
                text-align: center;
                >strong {
                    color: #FF0000;
                    font-size: 18px;
                    font-weight: bold;
                }
            }
        }
    }
    aside {
        h3 {
            margin-top: 30px;
            margin-bottom: 10px;
            width: 100%;
            font-size: 15px;
        }
        ul {
            @include displayflex(row, flex-start, flex-start, wrap);
            border: 1px solid #e5e5e5;
            border-bottom: 0;
            width: 100%;
            position: relative;
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: #e5e5e5;
            }
            >li {
                @include displayflex(inherit, center, flex-start, wrap);
                border-bottom: 1px solid #e5e5e5;
                width: 50%;
                height: 50px;
                padding: 0 15px;
                >a {
                    color: $gray02;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                &:nth-child(odd) {
                    border-right: 1px solid #e5e5e5;
                }
            }
        }
    }
    .list-tit {
        @include displayflex(inherit, center, flex-start, wrap);
        margin-top: 50px;
        margin-bottom: 15px;
        &:first-child {
            margin-top: 0;
        }
        h2 {
            font-size: 17px;
        }
        p {
            width: 100%;
            font-size: 13px;
            margin-top: 10px;
            color: $gray02;
        }
        .right {
            margin-left: auto;
            .btnHelp {
                @include btn(85px, 35px, 0, 13px, bold);
                @include btnBg(0, transparent, #fff, $blue03);
                border-radius: 1px;
                display: inline-block;
            }
            .btnInfo {
                @include btn(85px, 35px, 0, 13px, bold);
                @include btnBg(0, transparent, #fff, $blue05);
                border-radius: 1px;
                display: inline-block;
            }
            .btnAdd {
                @include btn(85px, 35px, 0, 13px, bold);
                @include btnBg(0, transparent, #fff, $blue03);
                border-radius: 1px;
                display: inline-block;
            }
            select {
                @include inputText;
                width: 200px;
            }
        }
    }
    .list-search {
        border: 2px solid #e4e4e4;
        width: 100%;
        margin-bottom: 20px;
        padding: 10px;
        @include displayflex(column, center, center, wrap);
        h3 {
            font-weight: bold;
            margin-bottom: 10px;
            width: 100%;
        }
        .calendar {
            @include displayflex(row, center, center, wrap);
            width: 100%;
            input[type=date] {
                width: 115px;
                height: 30px;
                line-height: 30px;
                padding: 0 5px;
                border: 1px solid #d6d6d6;
                background-image: url(../images/icon/ico_calendar.png);
                background-position: calc(100% - 10px) (100%/2);
                background-repeat: no-repeat;
                background-color: #fff;
            }
            >span {
                width: 15px;
                text-align: center;
            }
            >button {
                @include displayflex(row, center, center, wrap);
                @include btn(calc(100% - 255px), 30px, 0, 13px, normal);
                margin-left: 10px;
                background-color: #ab3e55;
                color: #fff;
                border: 0;
                &::after {
                    content: '';
                    width: 13px;
                    height: 12px;
                    display: inline-block;
                    background-image: url(../images/icon/ico_list-search.png);
                    background-repeat: no-repeat;
                    margin-left: 5px;
                }
            }
        }
    }
    .list-top {
        @include displayflex(inherit, center, flex-start, wrap);
        width: 100%;
        margin: 20px 0;
        padding-top: 20px;
        border-top: 1px solid #e5e5e5;
        >.left {
            margin-right: auto;
            >span {
                color: $blue01;
                margin: 0 5px;
                font-weight: bold;
            }
        }
        .right {
            margin-left: auto;
            &.search-date {
                @include displayflex(row, center, flex-end, wrap);
                >select {
                    @include inputText;
                    width: auto;
                    margin-left: 5px;
                }
                >span {
                    margin-left: 5px;
                    text-align: center;
                }
                >button {
                    margin-left: 5px;
                    @include btn(auto, 35px, 0 10px, 13px, bold);
                    @include btnBg(0, transparent, #fff, #979797);
                }
            }
            .btnCart {
                @include btn(auto, 35px, 0 10px, 13px, bold);
                @include btnBg(0, transparent, #fff, $blue03);
                border-radius: 1px;
                display: inline-block;
            }
            .btnDelivery,
            .btnAdBanner {
                @include btn(auto, 35px, 0 10px, 13px, bold);
                @include btnBg(0, transparent, #fff, $blue03);
                border-radius: 1px;
                display: inline-block;
            }
        }
    }
    .list-exp {
        border-top: 1px solid #E4E4E4;
        border-left: 1px solid #E4E4E4;
        border-right: 1px solid #E4E4E4;
        background-color: #f5f5f5;
        margin-bottom: 40px;
        >div {
            border-bottom: 1px solid #E4E4E4;
            line-height: $line_height;
            padding: 15px;
            >span {
                font-weight: bold;
            }
            >strong {
                font-weight: bold;
                color: $blue01;
            }
            >h3 {
                margin-bottom: 10px;
            }
            >ul {
                margin-bottom: 10px;
                color: $gray02;
            }
            >p {
                font-weight: bold;
                color: $blue01;
            }
        }
    }
    .list-point {
        border: 2px solid #e4e4e4;
        padding: 20px;
        font-weight: bold;
        margin-bottom: 20px;
        >strong {
            color: $blue01;
            font-size: 24px;
        }
    }
    .list-tab {
        @include displayflex(row, center, center, wrap);
        width: 100%;
        margin-bottom: 50px;
        >li {
            @include displayflex(inherit, center, center, wrap);
            width: 50%;
            height: 40px;
            border: 1px solid #999999;
            font-weight: bold;
            font-size: 14px;
            &.active {
                border: 0;
                background-color: #666666;
                color: #fff;
            }
        }
    }
    .pagination {
        @include displayflex(row, center, center, unset);
        width: 100%;
        margin-top: 30px;
        >a {
            @include displayflex(row, center, center, unset);
            width: 31px;
            height: 31px;
            >strong,
            >span {
                color: $gray01;
                text-decoration: none;
            }
            &:hover>* {
                color: $blue03;
            }
        }
    }
    .btn-Bottom {
        @include displayflex(row, center, center, unset);
        width: 100%;
        margin-top: 50px;
        button {
            @include btn(calc(25% - 5px), 40px, 0, 14px, bold);
            margin: 0 2.5px;
            &.btn_list,
            &.btn_cancel {
                @include btnBg(1px, $gray05, $gray05, #fff);
            }
            &.btn_trans {
                @include btnBg(0, transparent, #fff, #3d82f7);
            }
        }
        >a {
            text-decoration: underline;
            margin-left: 10px;
            color: $gray02;
        }
    }
    .bottom-search {
        @include displayflex(row, center, center, wrap);
        margin-top: 50px;
        background-color: #f8f8f8;
        border-top: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
        padding: 10px 0;
        select {
            @include inputText;
            width: 100px;
            margin-right: 5px;
        }
        input[type=text] {
            @include inputText;
            width: calc(100% - 160px);
            margin-right: 5px;
        }
        button {
            @include btn(50px, 35px, 0, 13px, normal);
            @include btnBg(0, transparent, #fff, $blue03);
        }
    }
    .tblView {
        @include tblView;
        margin-bottom: 20px;
        width: 100%;
        tr {
            th {
                >span {
                    color: #FF6600;
                }
            }
            td {
                .btnModify {
                    @include btn(auto, 26px, 0 12px, 12px, normal);
                    @include btnBg(1px, #bcbfc6, #777, #fff);
                    border-radius: 2px;
                }
                .rePasswd {
                    >p {
                        color: #818181;
                        padding-bottom: 20px;
                        font-size: 12px;
                        letter-spacing: -1px;
                        line-height: $line_height;
                    }
                    >dl {
                        @include displayflex(row, flex-start, center, wrap);
                        >dt {
                            @include displayflex(column, flex-start, center, wrap);
                            width: 130px;
                            height: 35px;
                            margin-right: auto;
                            margin-bottom: 10px;
                            color: $gray02;
                        }
                        >dd {
                            width: calc(100% - 130px);
                            height: 35px;
                            margin-left: auto;
                            margin-bottom: 10px;
                        }
                    }
                    .btnModify {
                        margin-left: 130px;
                        margin-top: 10px;
                    }
                }
                .btn_itemSelect {
                    @include btn(auto, 35px, 0 10px, 13px, bold);
                    @include btnBg(0, transparent, #fff, #3d82f7);
                    border-radius: 1px;
                    margin-left: 10px;
                }
                .inputFile {
                    width: 100%;
                    height: 35px;
                    position: relative;
                    >input[type=file] {
                        @include btn(110px, 35px, 0, 13px, normal);
                        font-size: 0;
                        opacity: 0;
                        position: absolute;
                        top: 0;
                        right: 0;
                        z-index: 2;
                        cursor: pointer;
                    }
                    >input[type=text] {
                        width: calc(100% - 120px);
                    }
                    >.btn {
                        @include btn(110px, 35px, 0, 13px, bold);
                        @include btnBg(1px, $gray05, $gray05, #fff);
                        position: absolute;
                        top: 0;
                        right: 0;
                        z-index: 1;
                    }
                }
                .text1 {
                    font-size: 12px;
                    color: $gray06;
                    margin-bottom: 10px;
                }
                .text2 {
                    font-size: 12px;
                    color: $gray06;
                    margin-top: 10px;
                }
                .item-banner {
                    @include displayflex(column, flex-start, center, wrap);
                    >div {
                        width: 100%;
                    }
                    >.left {
                        @include displayflex(row, center, center, wrap);
                        border: 1px solid #e5e5e5;
                        >img {
                            width: 100%;
                        }
                    }
                    >.right {
                        @include displayflex(column, flex-start, center, wrap);
                        padding: 20px;
                        line-height: $line_height;
                    }
                }
                .btn_AdPay {
                    @include btn(auto, 35px, 0 10px, 13px, bold);
                    @include btnBg(0, transparent, #fff, #3d82f7);
                    border-radius: 1px;
                    display: inline-block;
                }
                .btn_option {
                    @include btn(70px, 35px, 0 10px, 13px, bold);
                    @include btnBg(0, transparent, #fff, $blue05);
                    border-radius: 1px;
                    display: inline-block;
                }
                .text_AdPay {
                    font-size: 24px;
                    line-height: 50px;
                    height: 50px;
                    display: inline-block;
                    width: 180px;
                    vertical-align: middle;
                }
                .adSet {
                    @include displayflex(column, flex-start, center, wrap);
                    width: 100%;
                    >li:first-child {
                        margin-bottom: 10px;
                    }
                    input[type=date] {
                        width: 115px;
                        height: 30px;
                        line-height: 30px;
                        padding: 0 5px;
                        border: 1px solid #d6d6d6;
                        background-image: url(../images/icon/ico_calendar.png);
                        background-position: calc(100% - 10px) (100%/2);
                        background-repeat: no-repeat;
                        background-color: #fff;
                    }
                    .btn_trance {
                        @include btn(85px, 35px, 0, 13px, bold);
                        @include btnBg(1px, $gray05, $gray01, #fff);
                    }
                    .btn_add {
                        @include btn(85px, 35px, 0, 13px, bold);
                        @include btnBg(0, transparent, #fff, $gray05);
                    }
                }
                .keyword {
                    @include displayflex(row, center, flex-start, wrap);
                    >input[type=text] {
                        width: calc(50% - 2.5px);
                        margin-bottom: 5px;
                        &:nth-child(even) {
                            margin-left: 2.5px;
                        }
                        &:nth-child(odd) {
                            margin-right: 2.5px;
                        }
                    }
                }
                .option-add {
                    @include displayflex(row, center, flex-start, wrap);
                    margin-bottom: 10px;
                    width: 100%;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    >* {
                        margin-right: 5px;
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                    >input {
                        width: calc(50% - 40px);
                    }
                }
            }
        }
    }
    .tblList {
        border-top: 1px solid #999;
        >dl {
            padding: 10px 15px;
            border-bottom: 1px solid #e5e5e5;
            @include displayflex(row, center, flex-start, wrap);
            >dt {
                @include displayflex(inherit, center, flex-end, wrap);
                width: 90px;
                height: 25px;
                position: relative;
                padding-right: 20px;
                color: $gray03;
                font-size: 11px;
                font-weight: normal;
                letter-spacing: -1px;
                &::after {
                    content: '';
                    height: 10px;
                    width: 1px;
                    background-color: $gray03;
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                }
            }
            >dd {
                @include displayflex(inherit, center, flex-start, wrap);
                width: calc(100% - 90px);
                text-align: right;
                height: 25px;
                padding-left: 20px;
                &.thomb {
                    height: auto;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    >img {
                        width: 50px;
                    }
                }
                input[type=text] {
                    @include inputText;
                    height: 20px;
                    line-height: 20px;
                }
                >a {
                    display: block;
                    color: $gray01;
                    font-weight: bold;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                .btn_del {
                    @include btn(45px, 20px, 0, 13px, normal);
                    @include btnBg(0, transparent, #fff, $gray03);
                }
                .btn_modify {
                    @include btn(45px, 20px, 0, 13px, normal);
                    @include btnBg(1px, $blue05, $blue05, #fff);
                    margin-right: 5px;
                }
                .num {
                    width: 15px;
                    margin-right: 5px;
                }
                .blue {
                    color: #4ab9c6;
                }
            }
            &:last-child {
                border-bottom-color: #999;
            }
        }
    }
    .tblBord {
        border-top: 1px solid #999;
        >li {
            padding: 10px 15px;
            border-bottom: 1px solid #e5e5e5;
            @include displayflex(column, flex-start, center, wrap);
            >p {
                >a {
                    display: block;
                    color: $gray01;
                    font-weight: bold;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
            >div {
                @include displayflex(row, flex-start, center, wrap);
                margin-top: 10px;
                >span {
                    color: $gray03;
                    font-size: 11px;
                    margin-right: 10px;
                }
            }
            &:last-child {
                border-bottom-color: #999;
            }
        }
    }
    >.item-list {
        border-top: 1px solid #999;
        >li {
            padding: 15px;
            border-bottom: 1px solid #e5e5e5;
            position: relative;
            >label {
                position: absolute;
                top: 15px;
                right: 15px;
            }
            >a {
                @include displayflex(row, center, flex-start, wrap);
                width: 100%;
                margin-bottom: 20px;
                &:hover {
                    text-decoration: none;
                }
                >img {
                    margin-right: 20px;
                    width: 70px;
                }
                >p {
                    @include displayflex(column, flex-start, center, wrap);
                    line-height: $line_height;
                    >strong {
                        font-weight: normal;
                        color: $gray01;
                    }
                    >span {
                        color: $gray02;
                        font-size: 12px;
                    }
                    >em {
                        font-style: normal;
                        color: $gray03;
                    }
                }
            }
            >div {
                @include displayflex(row, center, center, unset);
                >.price {
                    margin-right: auto;
                    >strong {
                        color: $gray01;
                        font-size: 15px;
                    }
                    >span {
                        color: $gray03;
                        font-size: 13px;
                    }
                }
                >.btn_del {
                    font-size: 0;
                    border: 0;
                    background-color: transparent;
                    margin-left: 10px;
                    &::before {
                        content: '\ea0d';
                        font-size: 17px;
                        color: $gray03;
                    }
                }
                .btn_cart {
                    @include btn(auto, 20px, 0 10px, 12px, normal);
                    @include btnBg(1px, $blue05, $blue05, #fff);
                }
                .btn_review {
                    @include btn(auto, 20px, 0 10px, 12px, normal);
                    @include btnBg(1px, $gray05, $gray05, #fff);
                }
                .btn_blue {
                    @include btn(auto, 20px, 0 10px, 12px, normal);
                    @include btnBg(1px, $blue05, $blue05, #fff);
                }
                .btn_gray {
                    @include btn(auto, 20px, 0 10px, 12px, normal);
                    @include btnBg(1px, $gray03, $gray03, #fff);
                }
            }
            &:last-child {
                border-bottom-color: #999;
            }
        }
    }
}