[data-popup] {
    .header {
        @include displayflex(row, center, flex-start, wrap);
        height: 50px;
        background-color: $blue03;
        padding: 0 30px;
        >h1 {
            color: #fff;
            font-size: 18px;
        }
    }
    .btn_set {
        @include displayflex(row, center, center, wrap);
        width: 100%;
        margin-top: 30px;
        button {
            @include btn(150px, 50px, 0, 14px, bold);
            &.btn_trans {
                @include btnBg(0, transparent, #fff, #3d82f7);
            }
            &.btn_cancel {
                @include btnBg(1px, $gray05, $gray05, #fff);
                margin-left: 10px;
            }
        }
    }
}

[data-popup^="qna"] {
    width: 100%;
    .form {
        padding: 15px;
        border-bottom: 1px solid #ccc;
        margin-bottom: 30px;
        textarea {
            border: 1px solid #cfcfcf;
            padding: 10px;
            width: 100%;
            height: 160px;
            overflow-y: auto;
            margin-bottom: 10px;
        }
    }
    .description {
        margin: 0 30px;
        text-align: center;
        line-height: $line-height;
    }
}

[data-popup^="rivew"] {
    width: 100%;
    h2 {
        text-align: center;
        font-size: 18px;
    }
    .star {
        @include displayflex(row, center, center, wrap);
        margin: 20px 0;
        width: 100%;
        >label {
            font-size: 0;
            margin: 0 5px;
            width: 27px;
            height: 27px;
            background-color: transparent;
            background-image: url(../images/icon/ico_star.png);
            background-size: auto 27px;
            border: 0;
            border-radius: 0;
            background-position: 0 0;
            &.active {
                background-position: -161px 0;
            }
        }
        >input[type=radio] {
            width: 0;
            height: 0;
            opacity: 0;
        }
    }
    .form {
        padding: 15px;
        border-bottom: 1px solid #ccc;
        margin-bottom: 30px;
        textarea {
            border: 1px solid #cfcfcf;
            padding: 10px;
            width: 100%;
            height: 160px;
            overflow-y: auto;
            margin-bottom: 10px;
        }
    }
}