[data-section^="register"] {
    padding: 0 20px;
    h3 {
        padding: 20px 0;
        font-size: 17px;
        font-weight: bold;
        >span {
            color: #FF6600;
            font-weight: normal;
            font-size: 13px;
        }
    }
    .terms {
        @include displayflex(inherit, center, flex-start, wrap);
        flex-direction: column;
        padding: 0;
        margin-bottom: 35px;
        >p {
            padding: 20px 0;
            border-bottom: 1px solid #999999;
            width: 100%;
            text-align: left;
            >label {
                @include displayflex(inherit, center, flex-start, wrap);
                flex-direction: row;
                width: fit-content;
                font-weight: bold;
                >input[type=checkbox] {
                    margin-right: 5px;
                }
            }
        }
        .agree {
            width: 100%;
            border: 1px solid #e5e5e5;
            height: 200px;
            overflow-y: auto;
            padding: 10px;
        }
    }
    .btn_set {
        @include displayflex(column, center, center, wrap);
        padding: 0;
        margin-bottom: 50px;
        >label {
            margin-bottom: 50px;
            width: 100%;
        }
        >button {
            margin: 0 auto;
            @include btn(190px, 55px, 0, 15px, bold);
            &.btn_trans {
                @include btnBg(0, transparent, #fff, $blue02);
            }
        }
    }
    .tblView {
        @include tblView;
        margin-bottom: 20px;
        width: 100%;
        tr {
            th {
                >span {
                    color: #FF6600;
                }
            }
            td {
                .description {
                    font-size: 12px;
                    color: #818181;
                    letter-spacing: -1px;
                }
                .error {
                    color: #FF6600;
                    font-weight: bold;
                    margin-top: 10px;
                }
            }
        }
    }
}