<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
</head>

<body>
    <div id="account">
        예금액 : <input type="text" v-model="amount" />
        <img v-if="amount < 0" src="http://code.shinci.com/wp-content/uploads/2020/03/error.png" title="마이너스는 허용하지 않습니다." style="width: 15px; height:15px: vertical-align: middle;" />
    </div>
    <hr/>
    <script type="text/javascript">
        var simple1 = new Vue({
            el: '#account',
            data: {
                amount: 0
            }
        })
    </script>

</body>

</html>