<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
    <style>
        #list {
            width: 400px;
            border: 1px solid black;
            border-collapse: collapse;
        }
        
        #list td,
        #list th {
            border: 1px solid black;
            text-align: center;
        }
        
        #list>thead>tr {
            color: yellow;
            background-color: purple;
        }
        
        .divider {
            height: 2px;
            background-color: gray;
        }
    </style>
</head>

<body>
    <div id="exmaple">
        <table id="list">
            <thead>
                <tr>
                    <th>번호</th>
                    <th>이름</th>
                    <th>전화번호</th>
                    <th>주소</th>
                </tr>
            </thead>
            <tbody id="contacts">
                <tr v-for="(contact, index) in contacts" v-if="contact.address.indexOf('서울') > -1" v-bind:data-index="index+1">
                    <td>{{contact.no}}</td>
                    <td>{{contact.name}}</td>
                    <td>{{contact.tel}}</td>
                    <td>{{contact.address}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script type="text/javascript">
        var model = {
            "pageno": 1,
            "pagesize": 10,
            "totalcount": 100,
            "contacts": [{
                "no": 100,
                "name": "혜리",
                "tel": "010-1234-5678",
                "address": "서울"
            }, {
                "no": 99,
                "name": "혜리",
                "tel": "010-1234-5678",
                "address": "경기"
            }, {
                "no": 98,
                "name": "하니",
                "tel": "010-1234-5678",
                "address": "강원"
            }, {
                "no": 97,
                "name": "성소",
                "tel": "010-1234-5678",
                "address": "제주"
            }, {
                "no": 96,
                "name": "지아",
                "tel": "010-1234-5678",
                "address": "서울"
            }, {
                "no": 95,
                "name": "정연",
                "tel": "010-1234-5678",
                "address": "서울"
            }, {
                "no": 94,
                "name": "쯔위",
                "tel": "010-1234-5678",
                "address": "서울"
            }, {
                "no": 93,
                "name": "사나",
                "tel": "010-1234-5678",
                "address": "서울"
            }, {
                "no": 92,
                "name": "모모",
                "tel": "010-1234-5678",
                "address": "서울"
            }, {
                "no": 91,
                "name": "소진",
                "tel": "010-1234-5678",
                "address": "서울"
            }]
        }
        var list = new Vue({
            el: '#exmaple',
            data: model
        })
    </script>

</body>

</html>