<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
</head>

<body>
    <div id="account">
        잔고 : <input type="text" v-model="balance" />
        <br/> 회원님의 등급 :
        <span v-if="balance >= 1000000" data-balance="Gold">Gold</span>
        <span v-else-if="balance >= 500000" data-balance="Silver">Silver</span>
        <span v-else-if="balance >= 200000" data-balance="Bronze">Bronze</span>
        <span v-else data-balance="Basic">Basic</span>
    </div>
    <hr/>
    <script type="text/javascript">
        var model = {
            balance: 0
        }
        var simple1 = new Vue({
            el: '#account',
            data: model
        })
    </script>

</body>

</html>