<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
</head>

<body>
    <div id="exmaple">
        <span v-pre>{{message}}</span>
    </div>
    <script type="text/javascript">
        var vm = new Vue({
            el: "#exmaple",
            data: {
                message: "Hello World"
            }
        })
    </script>

</body>

</html>