<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
</head>

<body>
    <div id="exmaple">
        <input type="text" v-model="num" />
        <br/> 1부터 입력된 수까지의 합 : <span>{{sum()}}</span>
    </div>
    <script type="text/javascript">
        //1부터 입력된 수까지의 합구하기
        var vmSum = new Vue({
            el: "#exmaple",
            data: {
                num: 0
            },
            methods: {
                sum: function() {
                    console.log(Date.now())
                    var n = Number(this.num);
                    if (Number.isNaN(n) || n < 1) return 0;
                    return ((1 + n) * n) / 2;
                }
            }
        })
    </script>

</body>

</html>