<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
</head>

<body>
    <div id="exmaple">
        x : <input type="text" v-model="x" /><br> y : <input type="text" v-model="y" /><br> 덧셈 결과 : {{sum}}
    </div>
    <script type="text/javascript">
        //1부터 입력된 수까지의 합구하기
        var vmSum = new Vue({
            el: "#exmaple",
            data: {
                x: 0,
                y: 0
            },
            computed: {
                sum: function() {
                    var result = Number(this.x) + Number(this.y);
                    if (isNaN(result)) return 0;
                    else return result;
                }
            }
        })
    </script>

</body>

</html>