<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
</head>

<body>
    <div id="test" data-test="">
        <h2>{{name}}</h2>
    </div>
    <script type="text/javascript">
        var model = {
            name: '홍길동'
        }
        var vm = new Vue({
            el: '[data-test]',
            data: model
        })
    </script>

</body>

</html>