<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
    <style>
        #list {
            width: 400px;
            border: 1px solid black;
            border-collapse: collapse;
        }
        
        #list td,
        #list th {
            border: 1px solid black;
            text-align: center;
        }
        
        #list>thead>tr {
            color: yellow;
            background-color: purple;
        }
        
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <!-- Mustache 표현식의 템플릿 문자열을 숨기기 위해 v-cloak 추가 -->
    <div id="example" v-cloak>
        <p>
            이름 : <input type="text" v-model="name" v-on:keyup="search" placeholder="두자 이상 입력하세요" />
        </p>
        <table id="list">
            <thead>
                <tr>
                    <th>번호</th>
                    <th>이름</th>
                    <th>전화번호</th>
                    <th>주소</th>
                </tr>
            </thead>
            <tbody id="contacts">
                <tr v-for="contact in contactlist">
                    <td>{{contact.no}}</td>
                    <td>{{contact.name}}</td>
                    <td>{{contact.tel}}</td>
                    <td>{{contact.address}}</td>
                </tr>
            </tbody>
        </table>
        <div v-show="isProcessing === true">조회중</div>
    </div>

    <script>
        var vm = new Vue({
            el: '#example',
            data: {
                name: '',
                isProcessing: false,
                contactlist: []
            },
            methods: {
                search: function(e) {
                    if (e.keyCode === 13) {
                        var val = e.target.value;
                        if (val.length >= 2) {
                            this.fetchContacts();
                        } else {
                            this.contactlist = [];
                        }
                    }
                },
                fetchContacts: function() {
                    this.contactlist = [];
                    this.isProcessing = true; //호출되는 동안 조회중 표시
                    var url = "http://sample.bmaster.kro.kr/contacts_long/search/" + this.name;
                    var vm = this;
                    fetch(url) // 검색 fetch = 비동기 처리를 위해 사용
                        .then(function(response) { // 실행이 끝나면 호출되는 then()
                            return response.json()
                        }).then(function(json) {
                            vm.contactlist = json;
                            vm.isProcessing = false;
                        }).catch(function(ex) { // 프로미스 에러
                            console.log('parsing failed', ex);
                            vm.contactlist = [];
                            vm.isProcessing = false;
                        })
                }
            }
        });
    </script>

</body>

</html>