<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        .layout1 {
            margin: 30px;
        }
    </style>
</head>

<body>
    <div id="example" class="container layout1">
        <p><input type="text" v-model="amount" class="form-control" /></p>
        <p>
            <button id="deposit" v-on:click="deposit" class="btn btn-primary">예금</button>
            <button id="withdraw" @click="withdraw" class="btn btn-primary">인출</button>
        </p>
        <h3>계좌 잔고 : {{balance}}</h3>
    </div>
    <script>
        var vm = new Vue({
            el: "#example",
            data: {
                amount: 0,
                balance: 0
            },
            methods: {
                deposit: function(e) {
                    var amt = parseInt(this.amount); // parseInt() = 문자열을 정수로 바꾸는 함수입니다.
                    if (amt <= 0) {
                        alert("0보다 큰 값을 예금해야 합니다.");
                    } else {
                        this.balance += amt;
                    }
                },
                withdraw: function(e) {
                    var amt = parseInt(this.amount);
                    if (amt <= 0) {
                        alert("0보다 큰 값을 인출할 수 있습니다.");
                    } else if (amt > this.balance) {
                        alert("잔고보다 많은 금액을 인출할 수 없습니다.");
                    } else {
                        this.balance -= amt;
                    }
                }
            }
        });
    </script>
</body>

</html>